.podium {
  margin: 2rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  .position, .car {
    width: 33.33%;
  }

  .left {
    border-left: 1px solid #000;
  }

  .top {
    border-top: 1px solid #000;
  }

  .right {
    border-right: 1px solid #000;
  }

  .first {
    border-radius: .5rem .5rem 0 0;
  }

  .second {
    border-radius: .5rem 0 0 0;
  }

  .third {
    border-radius: 0 .5rem 0 0;
  }

  .first, .second, .third {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 700px) {
      display: block;
    }
  }

  .car {
    height: auto;
    text-align: center;

    .nota {
      display: inline-flex;
      align-items: center;
      padding: 0.3rem 0.8rem;
      border-radius: 2rem;
      margin-bottom: 0.5rem;
      font-size: 0.9rem;

      ion-label {
        display: flex;
        align-items: center;
      }

      ion-icon {
        font-size: 20px;
        margin-right: 0.3rem;
        vertical-align: text-top;
      }

      strong {
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        border-right: 1px solid #000;
      }
    }

    .nota-first {
      background-color: var(--ion-color-secondary);
    }

    .nota-second {
      background-color: #BDBDBC;
    }

    .nota-third {
      background-color: #DB9656;
    }

    .marca img {
      max-height: 40px;
      padding: .3rem .8rem 0 0;

      @media (max-width: 700px) {
        max-height: 30px;
        padding: 5px 0 0 0;
        margin-bottom: -5px;
      }
    }



    .nome span {
      margin-right: .5rem;

      @media (max-width: 500px) {
        display: none;
      }
    }

    img {
      padding: 0 3rem;
      cursor: pointer;

      @media (max-width: 700px) {
        padding: 0 2rem;
      }

      @media (max-width: 530px) {
        padding: 0 1rem;
      }

      @media (max-width: 400px) {
        padding: 0.1rem 0.5rem;
      }
    }

    .position {
      width: 100%;
      height: 50px;
      border-color: var(--ion-color-light-shade);
      background-color: var(--ion-color-light-tint);
    }

    .position.bottom {
      box-shadow: inset 0px -30px 20px -15px #fff;
    }
  }
}

.model-image {
  width: 100px;
  height: 55px;
}

.item-button:hover {
  --background-hover: linear-gradient(to right, #fff 150px, currentColor 350px, currentColor);
}

.warning {
  max-width: 60px;
  margin: 0.5rem 1rem 0.5rem 0;
}

.model-name {
  display: flex;
  align-items: center;
  padding-top: 0;

  strong {
    margin-left: 5px;
  }
}

.model-position {
  display: grid;
  align-items: center;
  padding-top: 0;
}

.car-info {
  padding-left: 0.5rem;

  @media (max-width: 576px) {
    padding-left: 0;
  }

  ion-label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    strong {
      margin-right: 0.5rem;
      padding-right: 0.5rem;
      border-right: 1px solid #000;
    }

    ion-icon {
      margin-right: 0.3rem;
    }
  }
}

.brand-image-title {
  text-align: right;
}

.item-button {
  --padding-start: 0;
  --inner-padding-end: 0;

  ion-grid {
    margin: 0 0 .5rem 0;
  }

  .position {
    border: 1px solid var(--ion-color-medium);
    text-align: right;
    padding: 3px 5px 2px 0;
    font-weight: bolder;
    font-size: smaller;
  }

  .car-data ion-icon {
    font-size: 20px;
    vertical-align: bottom;
  }
}

.item-button:nth-child(1) .position {
  border: 0;
  background-color: var(--ion-color-secondary);
}

.item-button:nth-child(2) .position {
  border: 0;
  background-color: #BDBDBC;
}

.item-button:nth-child(3) .position {
  border: 0;
  background-color: #DB9656;
}

.average-row {
  padding: 1rem;
  border: 3px solid #000;
  border-radius:  0.5rem;

  ion-label {
    font-weight: bold;
    font-size: x-large;
  }

  ion-icon {
    transform: scale(1);
    margin-right: 0.8rem;
    margin-top: -0.5rem;
    vertical-align: middle;
  }

  @media (max-width: 576px) {

    padding: 1rem 0.5rem;

    ion-col:nth-child(1) {
      text-align: center;
      padding-bottom: 1rem;
    }
  }
}

.average-small {
  border: 0px;
  padding: 0;
  padding-bottom: 1rem;
  margin-top: -0.5rem;

  ion-col {
    padding-bottom: 0px;
  }

  .item-title {
    text-align: right;

    h1 {
      font-weight: bolder;
      padding-right: 2rem;
    }
  }

  .item-subtitle {
    text-align: right;

    p {
      margin-top: -6px;
      color: var(--ion-color-medium);
      font-size: large;
      font-weight: lighter;
      padding-right: 2rem;
    }
  }

  @media (max-width: 576px) {
    padding: 0;
    padding-bottom: 0.5rem;
    margin-top: -0.5rem;

    .item-title {
      text-align: center;

      h1 {
        padding-right: 0;
      }
    }

    .item-subtitle {
      text-align: center;

      p {
        padding-right: 0;
      }
    }

    ion-col:nth-child(1) {
      text-align: center;
      padding-bottom: 0rem;
    }
  }

}
