<ion-tabs id="tab-menu">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="{{nav.best.route}}">
      <ion-icon name="{{nav.best.icon}}"></ion-icon>
      <ion-label>{{nav.best.title}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{nav.search.route}}">
      <ion-icon name="{{nav.search.icon}}"></ion-icon>
      <ion-label>{{nav.search.title}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{nav.compare.route}}">
      <ion-icon name="{{nav.compare.icon}}"></ion-icon>
      <ion-label>{{nav.compare.title}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{nav.favorite.route}}">
      <ion-icon name="{{nav.compare.icon}}"></ion-icon>
      <ion-label>{{nav.compare.title}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{nav.garage.route}}">
      <ion-icon name="{{nav.compare.icon}}"></ion-icon>
      <ion-label>{{nav.compare.title}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
