<ion-tabs id="tab-menu" (ionTabsWillChange)="utils.sessionUser">
  <ion-tab-bar slot="bottom" class="mobile-menu">
    <ion-tab-button tab="{{nav.best.route}}">
      <ion-icon name="{{nav.best.icon}}"></ion-icon>
      <ion-label>{{nav.best.title}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{nav.search.route}}" (click)="goToWithoutParams(nav.search.route)">
      <ion-icon name="{{nav.search.icon}}"></ion-icon>
      <ion-label>{{nav.search.title}}</ion-label>
    </ion-tab-button>

    <!-- COMPARAR -->
    <!-- <ion-tab-button tab="{{nav.compare.route}}">
      <ion-icon name="{{nav.compare.icon}}"></ion-icon>
      <ion-label>{{nav.compare.title}}</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="{{nav.favorite.route}}">
      <ion-icon name="{{nav.favorite.icon}}"></ion-icon>
      <ion-label>{{nav.favorite.title}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{nav.garage.route}}" [style.display]="utils.sessionUser ? 'block' : 'none'">
      <ion-icon name="{{nav.garage.icon}}"></ion-icon>
      <ion-label>{{nav.garage.title}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
