<ion-header [collapse]="condense" id="main-header">
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button routerDirection="root" [routerLink]="'/'+ nav.best.route" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.best.icon"></ion-icon>
          {{nav.best.title}}
        </ion-button>
        <ion-button routerDirection="root" [routerLink]="'/'+ nav.search.route" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.search.icon"></ion-icon>
          {{nav.search.title}}
        </ion-button>
        <!-- COMPARAR -->
        <!-- <ion-button routerDirection="root" [routerLink]="'/'+ nav.compare.route" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.compare.icon"></ion-icon>
          {{nav.compare.title}}
        </ion-button>-->
        <ion-button routerDirection="root" [routerLink]="'/'+ nav.favorite.route" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.favorite.icon"></ion-icon>
          {{nav.favorite.title}}
        </ion-button>
        <ion-button *ngIf="utils.sessionUser" routerDirection="root" [routerLink]="'/'+ nav.garage.route" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.garage.icon"></ion-icon>
          {{nav.garage.title}}
        </ion-button>
        <!-- <ion-button *ngIf="utils.sessionUser && utils.sessionUser?.role?.level <= 1" routerDirection="root" [routerLink]="'/'+ nav.admin.route" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.admin.icon"></ion-icon>
          {{nav.admin.title}}
        </ion-button>
        <ion-button *ngIf="utils.sessionUser" routerDirection="root" (click)="clickItem(nav.logout.route)" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.logout.icon"></ion-icon>
          {{nav.logout.title}}
        </ion-button> -->
        <ion-button *ngIf="!utils.sessionUser" routerDirection="root" [routerLink]="'/'+ nav.login.route" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.login.icon"></ion-icon>
          {{nav.login.title}}
        </ion-button>
        <ion-button *ngIf="utils.sessionUser" routerDirection="root" [routerLink]="'/'+ nav.perfil.route" routerLinkActive="selected" class="desktop-menu">
          <ion-icon slot="start" [name]="nav.perfil.icon"></ion-icon>
          {{utils.sessionUser.name.split(' ')[0]}}
        </ion-button>
        <ion-menu-button auto-hide="false" class="mobile-menu"></ion-menu-button>
      </ion-buttons>
      <div class="logo-container">
        <img src="assets/krro.svg" [routerLink]="'/'+ nav.best.route" alt="Krro - Opinião dos donos" title="Krro - Opinião dos donos">
      </div>
    </ion-toolbar>
</ion-header>
