.anuncio-desk {
  width: 160px;
  height: 600px;
  position: fixed;
  z-index: 1;
  left: auto;
  right: calc(50% + 610px);
  margin-top: 1rem;
  display: none;
}

.show {
  display: block;
}

.direita {
  right: auto;
  left:  calc(50% + 600px);
}
