<ion-content #IonContent [fullscreen]="true" [scrollEvents]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [routerLink]="'/' + nav.admin.route" [name]="'arrow-back'" color="secondary" style="cursor: pointer"></ion-icon>
      <ion-label [routerLink]="'/' + nav.admin.route" style="cursor: pointer">{{nav.admin.title}}</ion-label>

      <ion-label>
        <ion-icon [name]="'chevron-forward'" size="small" color="medium"></ion-icon>
      </ion-label>

      <ion-icon [name]="nav.brandopinions.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{nav.brandopinions.title}}</ion-label>
    </ion-title>

    <div class="main-body">
      <ion-grid slot="content">
        <ion-row [ngClass]="{'grid-content-edit': formOpinions.value.editOpinionId }">
          <ion-col>
            <h1 *ngIf="!formOpinions.value.editOpinionId">Criar nova opinião:</h1>
            <h1 *ngIf="formOpinions.value.editOpinionId">Editar a opinião <strong>{{formOpinions.value.editOpinionId}}</strong>:</h1>
          </ion-col>
        </ion-row>

        <form name="opinions" [formGroup]="formOpinions" (submit)="showConfirmAlert(formOpinions.value.editOpinionId ? 'editar' : 'criar', formOpinions.value)">
          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formOpinions.value.editOpinionId }">
            <ion-input type="hidden" formControlName="editOpinionId"></ion-input>
            <ion-col size-md="6" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Título da avaliação da marca</ion-label>
                <ion-input type="text" minlength="4" maxlength="80" (ionInput)="utils.capitalize($event)" formControlName="newOpinionBrandTitle"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size-md="3" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Marca</ion-label>
                <ion-select interface="popover" formControlName="newOpinionBrand">
                  <ion-select-option *ngFor="let brand of brands" [value]="brand._id">{{ brand.name }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>

            <ion-col size-md="3" size-sm="12" size-xs="12">
              <ion-item lines="none" color="none">
                <ion-label>Ativo</ion-label>
                <ion-toggle color="primary" [(ngModel)]="activeChecked"  [ngModelOptions]="{standalone: true}"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formOpinions.value.editOpinionId }">
            <ion-col size-md="6" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Pontos positivos da marca</ion-label>
                <ion-textarea minlength="4" maxlength="300" rows="3" (ionInput)="utils.capitalize($event)" formControlName="newOpinionBrandPositive"></ion-textarea>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Pontos negativos da marca</ion-label>
                <ion-textarea minlength="4" maxlength="300" rows="3" (ionInput)="utils.capitalize($event)" formControlName="newOpinionBrandNegative"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formOpinions.value.editOpinionId }">
            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="!formOpinions.value.editOpinionId">
              <ion-button size="default" title="Criar" expand="block" color="success" mode="ios" type="submit" [disabled]="formOpinions.status === 'INVALID'">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Criar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="formOpinions.value.editOpinionId">
              <ion-button size="default" title="Criar" expand="block" color="success" mode="ios" type="submit" [disabled]="formOpinions.status === 'INVALID'">
                <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Salvar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="!formOpinions.value.editOpinionId && !formOpinions.pristine">
              <ion-button size="default" title="Limpar" expand="block" color="medium" mode="ios" type="button" (click)="showConfirmAlert('limpar', formOpinions.value)">
                <ion-icon name="backspace-outline" slot="start"></ion-icon>
                <ion-label slot="end">Limpar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="formOpinions.value.editOpinionId">
              <ion-button size="default" title="Descartar" expand="block" color="danger" mode="ios" type="button" (click)="showConfirmAlert('descartar', formOpinions.value)">
                <ion-icon name="close-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Descartar</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>

        <ion-row><ion-col><br></ion-col></ion-row>

        <ion-row>
          <ion-col><h1>Opiniões {{opinions ? '('+opinions.length+')' : ''}}</h1></ion-col>
        </ion-row>

        <ion-row *ngIf="!opinions" class="grid-content">
          <ion-col style="text-align: center; margin: 2rem 0">
            <ion-icon name="alert-circle" color="medium" size="large"></ion-icon>
            <br>
            <ion-label color="medium">Não há nada por aqui ainda!</ion-label>
          </ion-col>
        </ion-row>

        <div class="table-container" *ngIf="opinions">
          <table>
            <tr>
              <th>Ativo</th>
              <th>Id</th>
              <th>Marca</th>
              <th>Média</th>
              <th>Criado em</th>
              <th>Criado por</th>
              <th>Modificado em</th>
              <th>Modificado por</th>
              <th>Ação</th>
            </tr>

            <tr *ngFor="let opinion of opinions" [ngClass]="{'pending-review': opinion.review }">
              <td>
                <ion-icon *ngIf="opinion.active" size="large" color="success" name="checkmark-circle"></ion-icon>
                <ion-icon *ngIf="!opinion.active" size="large" color="danger" name="close-circle"></ion-icon>
              </td>
              <td>{{opinion._id}}</td>
              <td>{{opinion.brand?.name}}</td>
              <td>{{opinion.brand_val_average}}</td>
              <td>{{opinion.created || '-'}}</td>
              <td>{{(opinion.created_by?.name ? opinion.created_by.name  : opinion.created_by) || '-'}}</td>
              <td>{{opinion.modified || '-'}}</td>
              <td>{{(opinion.modified_by?.name ? opinion.modified_by?.name : opinion.modified_by) || '-'}}</td>
              <td style="display: flex">
                <ion-button size="small" title="Editar" expand="block" color="warning" mode="ios" (click)="editOpinion(opinion)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button size="small" title="Excluir" expand="block" color="danger" mode="ios" (click)="showConfirmAlert('excluir', opinion)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </ion-grid>
    </div>

  </div>

</ion-content>
