.banner-container {
  background-color: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  box-shadow: inset 0px 0px 0px 5px #fff;
  margin: 0.5rem 0.5rem 2rem 0.5rem;

  .col-text {
    text-align: right;
    padding: 2rem;
  }

  .col-form {
    padding: 2rem;
  }

  h1 {
    color: #fff;
    margin: 0;
    font-size: 3.5rem;
    line-height: 3rem;
    font-weight: bolder;
  }

  h2 {
    color: #fff;
    margin: .5rem;
    font-size: xx-large;
    font-weight: 100;
  }

  .small-text {
    color: #fff;
    font-weight: lighter;
  }

  ion-chip {
    width: 100%;
    padding: 1.2rem;
    margin: 0.5rem 0 0 0;

    ion-icon {
      margin-left: auto;
    }

    ion-label {
      margin-right: auto;
    }
  }

  ion-chip.opinar {
    background: var(--ion-color-secondary);
    color: #000;
    border-color: #000;
    box-shadow: inset 0px 0px 0px 1px #fff;
    font-size: large;
  }

  @media (max-width: 700px) {
    h1 {
      font-size: xx-large;
      line-height: 2rem;
    }

    h2 {
      margin: .5rem;
      font-size: x-large;
    }
  }

  @media (max-width: 575px) {
    .col-text {
      text-align: center;
      padding: 2rem 1rem 0 1rem;
    }

    .col-form {
      padding: 1rem 2rem 2rem 2rem;
    }
  }
}
