<ion-content [fullscreen]="true">
  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [name]="nav.admin.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{nav.admin.title}}</ion-label>
    </ion-title>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>Configurações de usuários</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.customer.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.customer.icon"></ion-icon>
              <ion-card-title>{{nav.customer.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.permission.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.permission.icon"></ion-icon>
              <ion-card-title>{{nav.permission.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.feedback.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.feedback.icon"></ion-icon>
              <ion-card-title>{{nav.feedback.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1>Configurações de carros</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.carbrands.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.carbrands.icon"></ion-icon>
              <ion-card-title>{{nav.carbrands.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.carmodels.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.carmodels.icon"></ion-icon>
              <ion-card-title>{{nav.carmodels.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.carversions.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.carversions.icon"></ion-icon>
              <ion-card-title>{{nav.carversions.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.carcategories.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.carcategories.icon"></ion-icon>
              <ion-card-title>{{nav.carcategories.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <h1>Configurações de opiniões</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.caropinions.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.caropinions.icon"></ion-icon>
              <ion-card-title>{{nav.caropinions.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6" size-xs="6">
          <ion-card color="primary" [routerLink]="'/' + nav.admin.route + '/' + nav.brandopinions.route">
            <ion-card-header>
              <ion-icon size="large" [name]="nav.brandopinions.icon"></ion-icon>
              <ion-card-title>{{nav.brandopinions.title}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
