<ion-content #IonContent [fullscreen]="true" [scrollEvents]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [routerLink]="'/' + nav.admin.route" [name]="'arrow-back'" color="secondary" style="cursor: pointer"></ion-icon>
      <ion-label [routerLink]="'/' + nav.admin.route" style="cursor: pointer">{{nav.admin.title}}</ion-label>

      <ion-label>
        <ion-icon [name]="'chevron-forward'" size="small" color="medium"></ion-icon>
      </ion-label>

      <ion-icon [name]="nav.carbrands.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{nav.carbrands.title}}</ion-label>
    </ion-title>

    <div class="main-body">
      <ion-grid slot="content">
        <ion-row [ngClass]="{'grid-content-edit': formBrands.value.editBrandId }">
          <ion-col>
            <h1 *ngIf="!formBrands.value.editBrandId">Criar nova marca de carro:</h1>
            <h1 *ngIf="formBrands.value.editBrandId">Editar a marca <strong>{{formBrands.value.editBrandId}}</strong>:</h1>
          </ion-col>
        </ion-row>

        <form name="brands" [formGroup]="formBrands" (submit)="showConfirmAlert(formBrands.value.editBrandId ? 'editar' : 'criar', formBrands.value)">
          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formBrands.value.editBrandId }">
            <ion-input type="hidden" formControlName="editBrandId"></ion-input>
            <ion-col size-md="8" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input type="text" maxlength="50" formControlName="newBrandName" (ionInput)="utils.capitalize($event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="2" size-sm="12" size-xs="12">
              <ion-item lines="none" color="none">
                <ion-label>Ativo</ion-label>
                <ion-toggle color="primary" [(ngModel)]="activeChecked"  [ngModelOptions]="{standalone: true}"></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col size-md="2" size-sm="12" size-xs="12">
              <ion-item lines="none" color="none">
                <ion-label>Revisão</ion-label>
                <ion-toggle color="primary" [(ngModel)]="pendingReview"  [ngModelOptions]="{standalone: true}"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formBrands.value.editBrandId }">
            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="!formBrands.value.editBrandId">
              <ion-button size="default" title="Criar" expand="block" color="success" type="submit" [disabled]="formBrands.status === 'INVALID'">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Criar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="formBrands.value.editBrandId">
              <ion-button size="default" title="Criar" expand="block" color="success" type="submit" [disabled]="formBrands.status === 'INVALID'">
                <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Salvar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="!formBrands.value.editBrandId && !formBrands.pristine">
              <ion-button size="default" title="Limpar" expand="block" color="medium" type="button" (click)="showConfirmAlert('limpar', formBrands.value)">
                <ion-icon name="backspace-outline" slot="start"></ion-icon>
                <ion-label slot="end">Limpar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="formBrands.value.editBrandId">
              <ion-button size="default" title="Descartar" expand="block" color="danger" type="button" (click)="showConfirmAlert('descartar', formBrands.value)">
                <ion-icon name="close-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Descartar</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>

        <ion-row><ion-col><br></ion-col></ion-row>

        <ion-row>
          <ion-col><h1>Marcas de carro {{brands ? '('+brands.length+')' : ''}}</h1></ion-col>
        </ion-row>

        <ion-row *ngIf="!brands" class="grid-content">
          <ion-col style="text-align: center; margin: 2rem 0">
            <ion-icon name="alert-circle" color="medium" size="large"></ion-icon>
            <br>
            <ion-label color="medium">Não há nada por aqui ainda!</ion-label>
          </ion-col>
        </ion-row>

        <div class="table-container" *ngIf="brands">
          <table>
            <tr>
              <th>Ativo</th>
              <th>Revisão</th>
              <th>Id</th>
              <th>Nome</th>
              <th>URL</th>
              <th>Média</th>
              <th>Qtd opiniões</th>
              <th>Criado em</th>
              <th>Criado por</th>
              <th>Modificado em</th>
              <th>Modificado por</th>
              <th>Ação</th>
            </tr>

            <tr *ngFor="let brand of brands" [ngClass]="{'pending-review': brand.review }">
              <td>
                <ion-icon *ngIf="brand.active" size="large" color="success" name="checkmark-circle"></ion-icon>
                <ion-icon *ngIf="!brand.active" size="large" color="danger" name="close-circle"></ion-icon>
              </td>
              <td>
                <ion-icon *ngIf="brand.review" size="large" color="danger" name="alert-circle"></ion-icon>
                <ion-icon *ngIf="!brand.review" size="large" color="success" name="checkmark-circle"></ion-icon>
              </td>
              <td>{{brand._id}}</td>
              <td>{{brand.name}}</td>
              <td>{{brand.url}}</td>
              <td>{{brand.average}}</td>
              <td>{{brand.val_length}}</td>
              <td>{{brand.created || '-'}}</td>
              <td>{{(brand.created_by?.name ? brand.created_by.name  : brand.created_by) || '-'}}</td>
              <td>{{brand.modified || '-'}}</td>
              <td>{{(brand.modified_by?.name ? brand.modified_by?.name : brand.modified_by) || '-'}}</td>
              <td style="display: flex">
                <ion-button size="small" title="Editar" expand="block" color="warning" (click)="editBrand(brand)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button size="small" title="Excluir" expand="block" color="danger" (click)="showConfirmAlert('excluir', brand)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </ion-grid>
    </div>

  </div>

</ion-content>
