<ion-content #IonContent [fullscreen]="true" [scrollEvents]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [routerLink]="'/' + nav.admin.route" [name]="'arrow-back'" color="secondary" style="cursor: pointer"></ion-icon>
      <ion-label [routerLink]="'/' + nav.admin.route" style="cursor: pointer">{{nav.admin.title}}</ion-label>

      <ion-label>
        <ion-icon [name]="'chevron-forward'" size="small" color="medium"></ion-icon>
      </ion-label>

      <ion-icon [name]="nav.permission.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{nav.permission.title}}</ion-label>
    </ion-title>

    <div class="main-body">
      <ion-grid slot="content">
        <ion-row [ngClass]="{'grid-content-edit': formRoles.value.editRoleId }">
          <ion-col>
            <h1 *ngIf="!formRoles.value.editRoleId">Criar nova permissão:</h1>
            <h1 *ngIf="formRoles.value.editRoleId">Editar a permissão <strong>{{formRoles.value.editRoleId}}</strong>:</h1>
          </ion-col>
        </ion-row>

        <form name="roles" [formGroup]="formRoles" (submit)="showConfirmAlert(formRoles.value.editRoleId ? 'editar' : 'criar', formRoles.value)">
          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formRoles.value.editRoleId }">
            <ion-input type="hidden" formControlName="editRoleId"></ion-input>
            <ion-col size-md="6" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input type="text" maxlength="50" formControlName="newRoleName" (ionInput)="utils.capitalize($event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="6" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Nível</ion-label>
                <ion-input type="tel" (ionInput)="utils.onlyNumbers($event)" maxlength="3" formControlName="newRoleLevel"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formRoles.value.editRoleId }">
            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="!formRoles.value.editRoleId">
              <ion-button size="default" title="Criar" expand="block" color="success" type="submit" [disabled]="formRoles.status === 'INVALID'">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Criar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="formRoles.value.editRoleId">
              <ion-button size="default" title="Criar" expand="block" color="success" type="submit" [disabled]="formRoles.status === 'INVALID'">
                <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Salvar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="!formRoles.value.editRoleId && !formRoles.pristine">
              <ion-button size="default" title="Limpar" expand="block" color="medium" type="button" (click)="showConfirmAlert('limpar', formRoles.value)">
                <ion-icon name="backspace-outline" slot="start"></ion-icon>
                <ion-label slot="end">Limpar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="formRoles.value.editRoleId">
              <ion-button size="default" title="Descartar" expand="block" color="danger" type="button" (click)="showConfirmAlert('descartar', formRoles.value)">
                <ion-icon name="close-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Descartar</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>

        <ion-row><ion-col><br></ion-col></ion-row>

        <ion-row>
          <ion-col><h1>Permissões {{roles ? '('+roles.length+')' : ''}}</h1></ion-col>
        </ion-row>

        <ion-row *ngIf="!roles" class="grid-content">
          <ion-col style="text-align: center; margin: 2rem 0">
            <ion-icon name="alert-circle" color="medium" size="large"></ion-icon>
            <br>
            <ion-label color="medium">Não há nada por aqui ainda!</ion-label>
          </ion-col>
        </ion-row>

        <div class="table-container" *ngIf="roles">
          <table>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Nível</th>
              <th>Criado em</th>
              <th>Criado por</th>
              <th>Modificado em</th>
              <th>Modificado por</th>
              <th>Ação</th>
            </tr>

            <tr *ngFor="let role of roles">
              <td>{{role._id}}</td>
              <td>{{role.name}}</td>
              <td>{{role.level}}</td>
              <td>{{role.created || '-'}}</td>
              <td>{{(role.created_by?.name ? role.created_by.name  : role.created_by) || '-'}}</td>
              <td>{{role.modified || '-'}}</td>
              <td>{{(role.modified_by?.name ? role.modified_by?.name : role.modified_by) || '-'}}</td>
              <td style="display: flex">
                <ion-button size="small" title="Editar" expand="block" color="warning" (click)="editRole(role)">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button size="small" title="Excluir" expand="block" color="danger" (click)="showConfirmAlert('excluir', role)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </ion-grid>
    </div>

  </div>

</ion-content>
