.grid-content {
  align-items: normal;
}

.recovery-message {
  ion-icon {
    display: inline-flex;
    margin: 0.8rem 0.5rem -1rem 0.5rem;
    font-size: x-large;
  }

  ion-label {
    display: inline-flex;
  }
}

.login-subtitle {
  margin: 0 0 2rem 0.3rem;
}
