<ion-content #IonContent [fullscreen]="true" [scrollEvents]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [name]="nav.login.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{nav.login.title}}</ion-label>
    </ion-title>

    <div class="main-body">
      <ion-grid slot="content">
        <ion-row>
          <ion-col>
            <br>
          </ion-col>
        </ion-row>

        <form *ngIf="!showForgotPassword" name="login" [formGroup]="formLogin" (submit)="authUser()">
          <h2 class="login-subtitle">
            Digite seu email e senha para ter acesso a sua garagem!
          </h2>
          <ion-row class="grid-content">
            <ion-col size-lg="4.5" size-md="4.5" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" pattern=".+@.+\..+" maxlength="50" formControlName="userEmail"></ion-input>
              </ion-item>
              <ion-note color="danger" *ngIf="formLogin.controls.userEmail.touched">
                <span *ngIf="formLogin.controls.userEmail.errors?.required">Necessário preencher seu email!</span>
                <span *ngIf="formLogin.controls.userEmail.errors?.pattern">Necessário preencher seu email corretamente!</span>
              </ion-note>
            </ion-col>
            <ion-col size-lg="4" size-md="3.8" size-sm="12" size-xs="12">
              <ion-item class="input-item">
                <ion-label position="floating">Senha</ion-label>
                <ion-input [type]="userPasswordType" maxlength="80" formControlName="userPassword"></ion-input>
                <ion-button fill="clear" slot="end" color="medium" (click)="showOrHideField('userPasswordType')">
                  <ion-icon slot="icon-only" name="eye{{userPasswordType === 'text' ? '-off' : ''}}"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-note color="danger" *ngIf="formLogin.controls.userPassword.touched">
                <span *ngIf="formLogin.controls.userPassword.errors?.required">Necessário preencher sua senha!</span>
              </ion-note>
            </ion-col>
            <ion-col size-lg="3.5" size-md="3.7" size-sm="12" size-xs="12">
              <ion-item lines="none" color="none">
                <ion-label>Lembrar email</ion-label>
                <ion-toggle color="primary" [(ngModel)]="remindChecked"  [ngModelOptions]="{standalone: true}"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="grid-content">
            <ion-col size-lg="3" size-md="4.5" size-sm="6" size-xs="12">
              <ion-button size="default" title="Entrar" expand="block" color="success" mode="ios" type="submit" [disabled]="formLogin.status === 'INVALID'">
                <ion-icon name="enter-outline" slot="start"></ion-icon>
                <ion-label slot="end">Entrar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-lg="3" size-md="4.5" size-sm="6" size-xs="12">
              <ion-button size="default" title="Esqueci a senha" expand="block" color="medium" mode="ios" type="button" (click)="forgotPassword()">
                <ion-icon name="key-outline" slot="start"></ion-icon>
                <ion-label slot="end">Esqueci a senha</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>

        <form *ngIf="showForgotPassword" name="login" [formGroup]="formRecovery" (submit)="sendRecovery()">
          <h2 class="login-subtitle">
            Digite seu email, enviaremos um link para você redefinir a sua senha.
          </h2>
          <ion-row class="grid-content">
            <ion-col size-md="12" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" pattern=".+@.+\..+" maxlength="50" formControlName="userEmail"></ion-input>
              </ion-item>
              <ion-note color="danger" *ngIf="formRecovery.controls.userEmail.touched">
                <span *ngIf="formRecovery.controls.userEmail.errors?.required">Necessário preencher seu email!</span>
                <span *ngIf="formRecovery.controls.userEmail.errors?.pattern">Necessário preencher seu email corretamente!</span>
              </ion-note>
            </ion-col>
          </ion-row>

          <ion-row class="grid-content">
            <ion-col size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <ion-button size="default" title="Enviar nova senha" expand="block" color="success" mode="ios" type="submit" [disabled]="formRecovery.status === 'INVALID'">
                <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
                <ion-label slot="end">Enviar nova senha</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-lg="4" size-md="6" size-sm="12" size-xs="12">
              <ion-button size="default" title="Voltar para login" expand="block" color="medium" mode="ios" type="button" (click)="backToLogin()">
                <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
                <ion-label slot="end">Voltar para login</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </div>
  </div>
</ion-content>
