<ion-app>
  <ion-split-pane when="(min-width: 40000rem)" contentId="main-content">
    <ion-menu class="main-menu" contentId="main-content" type="overlay" side="end">
      <app-side-menu (clickedItem)="checkClickedItem($event)"></app-side-menu>
    </ion-menu>

    <ion-content id="main-content">
      <app-loader [showLoader]="showLoader"></app-loader>
      <app-header (clickedItem)="checkClickedItem($event)"></app-header>
      <app-term-and-cookies></app-term-and-cookies>

      <ion-router-outlet></ion-router-outlet>

      <app-tab-menu></app-tab-menu>
    </ion-content>
  </ion-split-pane>
</ion-app>
