<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="melhores">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Melhores</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="busca">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Busca</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="comparar">
        <ion-icon name="git-compare-outline"></ion-icon>
        <ion-label>Comparar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="favoritos">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="garagem">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Garagem</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
