<ion-content #IonContent [fullscreen]="true" [scrollEvents]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [name]="'clipboard-outline'" color="secondary"></ion-icon>
      <ion-label>Opinar</ion-label>
    </ion-title>

    <div class="main-body" *ngIf="selectedModel">
      <ion-grid *ngIf="currentStep < 4" slot="content" class="selected-model-grid">
        <ion-row>
          <ion-col size-lg="1.2" size-md="1.7" size-sm="1.5" size-xs="12" class="model-logo">
            <img src="assets/brands/{{selectedModel.brand.url}}.svg" title="{{selectedModel.brand.name}} {{selectedModel.name}}" alt="{{selectedModel.brand.name}} {{selectedModel.name}}"
              onerror="if (this.src != 'error.jpg') this.src = 'assets/brands/no-brand.svg'" class="brand-image-title">
          </ion-col>
          <ion-col size-lg="8.1" size-md="7.3" size-sm="6.8" size-xs="12" class="model-name">
            <ion-label class="brand-label-title">{{selectedModel.brand.name}} <span>{{selectedModel.name}}</span></ion-label>
            <ion-icon *ngIf="isFavorite" name="heart" color="secondary" size="large" class="favorite-image" (click)="addOrRemoveFavorite()"></ion-icon>
            <ion-icon *ngIf="!isFavorite" name="heart-outline" color="medium" size="large" class="favorite-image" (click)="addOrRemoveFavorite()"></ion-icon>
          </ion-col>
          <ion-col size-lg="2.5" size-md="3" size-sm="3.7" size-xs="12" class="model-change">
            <ion-chip outline title="Alterar modelo" color="primary" (click)="changeModel()">
              <ion-icon [name]="'chevron-back-outline'"></ion-icon>
              <ion-label >Alterar modelo</ion-label>
            </ion-chip>
          </ion-col>
          <!-- <ion-col size-lg="1.5" size-md="2" size-sm="2.6" size-xs="12" class="model-category">
            <ion-icon *ngIf="selectedModel.category" name="car" color="medium" size="large" class="category-image"></ion-icon>
            <ion-label color="medium">{{selectedModel.category?.name}}</ion-label>
          </ion-col> -->
        </ion-row>
      </ion-grid>

      <ion-item lines="none" *ngIf="currentStep < 4">
        <img src="assets/models/{{selectedModel.brand?.url}}/{{selectedModel.url}}/{{selectedModel.url}}.png" title="{{selectedModel.brand.name}} {{selectedModel.name}}" alt="{{selectedModel.brand.name}} {{selectedModel.name}}"
          onerror="if (this.src != 'error.jpg') this.src = 'assets/models/no-model.png'" class="model-image">
      </ion-item>

      <app-opinar-steps [currentStep]="currentStep" *ngIf="currentStep < 4"></app-opinar-steps>

      <app-about-car *ngIf="currentStep === 1" [selectedModel]="selectedModel" [autoFill]="finalPayload?.aboutCar"
        (aboutCar)="setAboutCarPayload($event)" (loadedVersions)="saveLoadedVersions($event)" (clickForeward)="goBack()"></app-about-car>

      <app-about-brand *ngIf="currentStep === 2" [selectedModel]="selectedModel" [autoFill]="finalPayload?.aboutBrand"
        (aboutBrand)="setAboutBrandPayload($event)" (clickForeward)="goBack(1)"></app-about-brand>

      <app-opinar-send *ngIf="currentStep === 3" [selectedModel]="selectedModel"
        (stepSend)="setStepSendPayload($event)" (clickForeward)="goBack(2)"></app-opinar-send>


      <ion-grid slot="content" *ngIf="currentStep === 4 && !showLoader" style="margin-top: 1rem">
        <ion-row class="success-container">
          <ion-col size-lg="5" size-md="5" size-sm="12" size-xs="12" class="col-model">
            <ion-item lines="none">
              <img src="assets/models/{{selectedModel.brand?.url}}/{{selectedModel.url}}/{{selectedModel.url}}.png" title="{{selectedModel.brand.name}} {{selectedModel.name}}" alt="{{selectedModel.brand.name}} {{selectedModel.name}}"
                onerror="if (this.src != 'error.jpg') this.src = 'assets/models/no-model.png'" class="model-image">
            </ion-item>
          </ion-col>

          <ion-col size-lg="7" size-md="7" size-sm="12" size-xs="12" class="col-congrats">
            <ion-row>
              <ion-col size-lg="2.5" size-md="3" size-sm="3" size-xs="12" class="sent-item-icon">
                <ion-icon name="cloud-done-outline" color="success" size="large"></ion-icon>
              </ion-col>
              <ion-col size-lg="9.5" size-md="9" size-sm="9" size-xs="12" class="sent-item-text">
                <ion-label class="ion-text-wrap">
                  <h1 class="form-title">
                    <span class="success">Parabéns {{user?.name.split(' ')[0]}}!</span>
                    <br>Sua opinião sobre o <span>{{selectedModel.brand.name}} {{selectedModel.name}}</span> foi enviada com sucesso!
                  </h1>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row class="suggestions">
              <ion-col size-md="6" size-sm="12" size-xs="12">
                <ion-chip title="Ver opiniões" mode="ios" color="primary" (click)="goOpinions()">
                  <ion-icon name="reader-outline"></ion-icon>
                  <ion-label>Ver opiniões deste modelo</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size-md="6" size-sm="12" size-xs="12">
                <ion-chip title="Buscar outro modelo" mode="ios" color="primary" (click)="goSearch()">
                  <ion-icon name="search-outline"></ion-icon>
                  <ion-label>Buscar outro modelo</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <app-feedback *ngIf="user" [user]="user"></app-feedback>
      </ion-grid>
    </div>
  </div>
</ion-content>
