<ion-content [fullscreen]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [name]="'clipboard-outline'" color="secondary"></ion-icon>
      <ion-label>Opinar</ion-label>
    </ion-title>

    <div class="main-body" *ngIf="selectedModel">
      <ion-grid slot="content" class="selected-model-grid">
        <ion-row>
          <ion-col size-lg="1.5" size-md="2" size-sm="2.7" size-xs="12" class="model-logo">
            <img src="assets/brands/{{selectedModel.brand.image}}" title="{{selectedModel.brand.name}} {{selectedModel.name}}" alt="{{selectedModel.brand.name}} {{selectedModel.name}}"
              onerror="if (this.src != 'error.jpg') this.src = 'assets/brands/no-brand.svg'" class="brand-image-title">
          </ion-col>
          <ion-col size-lg="9" size-md="8" size-sm="6.7" size-xs="12" class="model-name">
            <ion-label class="brand-label-title">{{selectedModel.brand.name}} <span>{{selectedModel.name}}</span></ion-label>
          </ion-col>
          <ion-col size-lg="1.5" size-md="2" size-sm="2.6" size-xs="12" class="model-category">
            <ion-icon name="car-outline" color="medium" size="large" class="category-image"></ion-icon>
            <ion-label color="medium">{{selectedModel.category.name}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <img src="assets/models/{{selectedModel.image}}" title="{{selectedModel.brand.name}} {{selectedModel.name}}" alt="{{selectedModel.brand.name}} {{selectedModel.name}}"
          onerror="if (this.src != 'error.jpg') this.src = 'assets/models/no-model.png'" class="model-image">
      </ion-item>

      <ion-grid slot="content" class="grid-steps">
        <ion-row>
          <ion-col size-lg="1.5" size-md="2" size-sm="2.5" size-xs="3">
            <ion-icon size="large" [name]="'car-sport'" color="primary" class="step-icon"></ion-icon>
          </ion-col>

          <ion-col>
            <div class="step-line"></div>
          </ion-col>

          <ion-col size-lg="1.5" size-md="2" size-sm="2.5" size-xs="3">
            <ion-icon size="large" [name]="'pricetag'" color="secondary" class="step-icon"></ion-icon>
          </ion-col>

          <ion-col>
            <div class="step-line"></div>
          </ion-col>

          <ion-col size-lg="1.5" size-md="2" size-sm="2.5" size-xs="3">
            <ion-icon size="large" [name]="'paper-plane'" color="secondary" class="step-icon"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="1.5" size-md="2" size-sm="2.5" size-xs="3">
            <ion-note class="step-title" color="primary">O carro</ion-note>
          </ion-col>

          <ion-col></ion-col>

          <ion-col size-lg="1.5" size-md="2" size-sm="2.5" size-xs="3">
            <ion-note class="step-title">A marca</ion-note>
          </ion-col>

          <ion-col></ion-col>

          <ion-col size-lg="1.5" size-md="2" size-sm="2.5" size-xs="3">
            <ion-note class="step-title">Enviar</ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>

      <app-about-car *ngIf="!finalPayload.aboutCar" [selectedModel]="selectedModel" (aboutCar)="setAboutCarPayload($event)"></app-about-car>

    </div>
  </div>
</ion-content>
