
<ion-header id="menu-header">
  <ion-toolbar color="primary">
    <ion-menu-toggle auto-hide="false">
      <ion-item color="primary" routerDirection="root" [routerLink]="'/'+ nav.perfil.route" lines="none" detail="false">
        <ion-icon slot="start" [name]="nav.perfil.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.perfil.title}}</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-buttons slot="primary">
      <ion-menu-toggle auto-hide="false">
        <ion-button routerDirection="root" [routerLink]="'/'+ nav.settings.route">
          <ion-icon slot="start" [name]="nav.settings.icon + '-outline'"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list id="menu-list">
    <ion-menu-toggle auto-hide="false">
      <ion-item routerDirection="root" [routerLink]="'/'+ nav.best.route" lines="full" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [name]="nav.best.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.best.title}}</ion-label>
      </ion-item>

      <ion-item routerDirection="root" [routerLink]="'/'+ nav.search.route" lines="full" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [name]="nav.search.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.search.title}}</ion-label>
      </ion-item>

      <ion-item routerDirection="root" [routerLink]="'/'+ nav.compare.route" lines="full" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [name]="nav.compare.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.compare.title}}</ion-label>
      </ion-item>

      <ion-item routerDirection="root" [routerLink]="'/'+ nav.favorite.route" lines="full" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [name]="nav.favorite.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.favorite.title}}</ion-label>
      </ion-item>

      <ion-item routerDirection="root" [routerLink]="'/'+ nav.garage.route" lines="full" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [name]="nav.garage.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.garage.title}}</ion-label>
      </ion-item>

      <ion-item routerDirection="root" [routerLink]="'/'+ nav.help.route" lines="full" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [name]="nav.help.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.help.title}}</ion-label>
      </ion-item>

      <ion-item routerDirection="root" [routerLink]="'/'+ nav.term.route" lines="full" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [name]="nav.term.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.term.title}}</ion-label>
      </ion-item>

      <ion-item routerDirection="root" [routerLink]="'/'+ nav.login.route" lines="full" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" [name]="nav.login.icon + '-outline'"></ion-icon>
        <ion-label>{{nav.login.title}}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
