
<ion-grid slot="content" class="valuation-itens">
  <ion-row>
    <ion-col>
      <h1 class="form-title">Primeiro informe as características de seu carro</h1>
    </ion-col>
  </ion-row>

  <form *ngIf="formOpinarCarro" [formGroup]="formOpinarCarro" (submit)="saveFormOpinarCarro()">
    <ion-row>
      <ion-col size-lg="3" size-md="3" size-sm="4" size-xs="12" *ngIf="!years?.length || anotherYear">
        <ion-item class="input-item">
          <ion-label position="floating">Ano modelo</ion-label>
          <ion-input type="tel" (ionInput)="utils.onlyNumbers($event)" minlength="4" maxlength="4" formControlName="opinarAnoModelo" placeholder="Ex: 2015"
            (ionChange)="chooseYear(formOpinarCarro.controls.opinarAnoModelo.value)" ></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="formOpinarCarro.controls.opinarAnoModelo?.touched">
          <span *ngIf="formOpinarCarro.controls.opinarAnoModelo?.errors?.required">Necessário preencher o ano do modelo do carro!</span>
          <span *ngIf="formOpinarCarro.controls.opinarAnoModelo?.errors?.minlength">Campo preenchido incorretamente! Ex: 2015</span>
          <span *ngIf="formOpinarCarro.controls.opinarAnoModelo?.errors?.max">Este ano é muito superior ao ano atual!</span>
        </ion-note>
      </ion-col>

      <ion-col size-lg="3" size-md="3" size-sm="4" size-xs="12" *ngIf="years?.length && !anotherYear">
        <ion-item class="input-item">
          <ion-label position="floating">Ano modelo</ion-label>
          <ion-select interface="popover" formControlName="opinarAnoModelo" (ionChange)="chooseYear(formOpinarCarro.controls.opinarAnoModelo.value)">
            <ion-select-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-select-option>
            <ion-select-option value="anotherYear">Outro ano</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size-lg="9" size-md="9" size-sm="8" size-xs="12" *ngIf="carVersions?.length">
        <ion-item class="input-item">
          <ion-label position="floating">Versão</ion-label>
          <ion-select interface="popover" formControlName="opinarVersao" (ionChange)="chooseVersion()"
            [disabled]="!formOpinarCarro.controls.opinarAnoModelo?.value || formOpinarCarro.controls.opinarAnoModelo?.value.length < 4">
              <ion-select-option *ngFor="let version of carVersionsToShow" value="{{version._id}}">
                {{version.engine?.toFixed(1)}} {{version.complement}} {{version.gearbox}} {{version.fuel}}
              </ion-select-option>
              <ion-select-option value="anotherVersion">Outra versão</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="newVersion && carVersions?.length" style="margin-top: .5rem; background-color: cornsilk;">
      <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <h2>Conte-nos mais detalhes</h2>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="newVersion" [ngStyle]="{'background-color': carVersions?.length ? 'cornsilk' : 'unset'}">
      <ion-col size-lg="3" size-md="5" size-sm="12" size-xs="12">
        <ion-item class="input-item">
          <ion-label position="floating">Combustível</ion-label>
          <ion-select interface="popover" formControlName="opinarCombustivel" (ionChange)="chooseFuel()">
            <ion-select-option *ngFor="let fuel of fuels" value="{{fuel.value}}">{{fuel.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size-lg="9" size-md="7" size-sm="12" size-xs="12">
        <ion-item lines="none">
          <ion-note slot="start" class="range-label"><p>Motorização ({{isElectric ? 'kWh' : 'litros'}})</p></ion-note>
          <ion-note slot="end" color="dark" class="range-note"><h1>{{opinarMotor}}</h1></ion-note>
        </ion-item>

        <ion-range
          [min]="isElectric ? 25 : 1"
          [max]="isElectric ? 200 : 4.5"
          [step]="isElectric ? 1 : 0.1"
          [value]="opinarMotor"
          (ionChange)="changeOpinarMotor($event)">
        </ion-range>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="newVersion" style="padding-bottom: .5rem; margin-bottom: .5rem" [ngStyle]="{'background-color': carVersions?.length ? 'cornsilk' : 'unset'}">
      <ion-col size-lg="3" size-md="3" size-sm="6" size-xs="12">
        <ion-item class="input-item">
          <ion-label position="floating">Câmbio</ion-label>
          <ion-select interface="popover" formControlName="opinarCambio">
            <ion-select-option *ngFor="let gearbox of gearboxes" value="{{gearbox.value}}">{{gearbox.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col size-lg="9" size-md="9" size-sm="6" size-xs="12">
        <ion-item class="input-item">
          <ion-label position="floating">Detalhes da versão</ion-label>
          <ion-input type="text" formControlName="opinarComplemento" (ionInput)="utils.capitalize($event)" placeholder="Ex: 16V, Turbo, 4x4, AWD, V8"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="3" size-md="3" size-sm="4" size-xs="12">
        <ion-item class="input-item">
          <ion-label position="floating">Ano da compra</ion-label>
          <ion-input type="tel" (ionInput)="utils.onlyNumbers($event)" (ionChange)="resetOpinaPeriodo()" minlength="4" maxlength="4" max="newerYear" formControlName="opinarAnoCompra"
            placeholder="Ex: 2017"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="formOpinarCarro.controls.opinarAnoCompra.touched">
          <span *ngIf="formOpinarCarro.controls.opinarAnoCompra.errors?.required">Necessário preencher o ano do modelo do carro!</span>
          <span *ngIf="formOpinarCarro.controls.opinarAnoCompra.errors?.minlength">Campo preenchido incorretamente! Ex: 2015</span>
          <span *ngIf="formOpinarCarro.controls.opinarAnoCompra.errors?.max">Este ano é muito superior ao ano atual!</span>
        </ion-note>
      </ion-col>

      <ion-col size-lg="9" size-md="9" size-sm="8" size-xs="12">
        <ion-item lines="none">
          <ion-note slot="start" class="range-label"><p>Permanência com o carro</p></ion-note>
          <ion-note slot="end" color="dark" class="range-note"><h1>{{opinarPeriodo}}</h1></ion-note>
        </ion-item>

        <ion-range [min]="1" [max]="opinarPeriodoMaxValue" [value]="opinarPeriodoValue"
            (ionChange)="changeOpinarPeriodo($event)" [disabled]="formOpinarCarro.controls.opinarAnoCompra.invalid"></ion-range>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-item lines="none">
          <ion-note slot="start" class="range-label"><p>Km aproximada na compra</p></ion-note>
          <ion-note slot="end" color="dark" class="range-note"><h1>{{opinarKmCompra}}</h1></ion-note>
        </ion-item>

        <ion-range [min]="0" [max]="99" [value]="opinarKmCompraValue" (ionChange)="changeOpinarKmCompra($event)"></ion-range>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 class="form-title">O que você tem a dizer sobre seu <span>{{selectedModel.brand.name}} {{selectedModel.name}}</span>?</h1>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let item of valuationItens" class="valuation-row" [ngClass]="item.valuation ? 'item-'+item.valuation.id : 'item-medium'">
      <ion-col size-md="3" size-sm="4" size-xs="12" class="item-col-val">
        <ion-label color="dark" class="item-title"><h1>{{item.title}}</h1></ion-label>
        <ion-label class="item-subtitle"><p>{{item.subtitle}}</p></ion-label>
      </ion-col>
      <ion-col size-md="9" size-sm="8" size-xs="12" class="item-col-val-itens">
        <ion-segment (ionChange)="segmentChanged($event)" mode="ios" color="light" [id]="item.value" [value]="item.valuation?.value">
          <ion-segment-button *ngFor="let val of valuation" [id]="item.value+'-'+val.id" value="{{val.value}}" [ngClass]="val.id">
            <ion-label>{{val.name}}</ion-label>
          </ion-segment-button>
        </ion-segment>
        <ion-note color="danger" *ngIf="showErrors && !item.valuation">
          <span>Necessário preencher todas as avaliações!</span>
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 class="form-title">Agora as Considerações finais.</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">Título da sua avaliação</ion-label>
          <ion-input type="text" minlength="4" maxlength="150" formControlName="opinarTitulo" (ionInput)="utils.capitalize($event)"
            placeholder="Ex: Melhor carro da categoria"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="formOpinarCarro.controls.opinarTitulo.touched">
          <span *ngIf="formOpinarCarro.controls.opinarTitulo.errors?.required">Necessário preencher o título da sua avaliação!</span>
          <span *ngIf="formOpinarCarro.controls.opinarTitulo.errors?.minlength">Campo preenchido incorretamente! Ex: Melhor custo benefício</span>
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">Descreva os pontos positivos</ion-label>
          <ion-textarea minlength="4" maxlength="800" formControlName="opinarPontosPositivos" rows="3" (ionInput)="utils.capitalize($event)"
            placeholder="Ex: O carro é confortável, consome pouco combustível na cidade, o porta-malas é espaçoso"></ion-textarea>
        </ion-item>
        <ion-note color="danger" *ngIf="formOpinarCarro.controls.opinarPontosPositivos.touched">
          <span *ngIf="formOpinarCarro.controls.opinarPontosPositivos.errors?.required">Necessário preencher os pontos positivos!</span>
          <span *ngIf="formOpinarCarro.controls.opinarPontosPositivos.errors?.minlength">Campo preenchido incorretamente! Ex: O porta-malas é espaçoso, o carro é confortável</span>
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="input-item">
          <ion-label position="floating">Descreva os pontos negativos</ion-label>
          <ion-textarea minlength="4" maxlength="800" formControlName="opinarPontosNegativos" rows="3" (ionInput)="utils.capitalize($event)"
            placeholder="Ex: A suspenão é dura, consome muito na cidade, pouco espaço interno"></ion-textarea>
        </ion-item>
        <ion-note color="danger" *ngIf="formOpinarCarro.controls.opinarPontosNegativos.touched">
          <span *ngIf="formOpinarCarro.controls.opinarPontosNegativos.errors?.required">Necessário preencher os pontos negativos!</span>
          <span *ngIf="formOpinarCarro.controls.opinarPontosNegativos.errors?.minlength">Campo preenchido incorretamente! Ex: A suspenão é dura, pouco espaço interno</span>
        </ion-note>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="6" size-sm="12" size-xs="12">
        <br>
        <ion-button size="default" title="Próximo" expand="block" color="success" mode="ios" type="submit" [disabled]="formOpinarCarro.status === 'INVALID' || !hasAllValuations">
          <ion-icon size="default" name="arrow-forward-outline"></ion-icon>
          <ion-label slot="start">Próximo</ion-label>
        </ion-button>

        <br>
        <ion-chip outline title="Anterior" mode="ios" color="medium" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <ion-label>Alterar marca e modelo</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
