<ion-content #IonContent [fullscreen]="true" [scrollEvents]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <div class="main-body" *ngIf="selectedModel && modelOpinions">
      <ion-grid slot="content" class="selected-model-grid">
        <ion-row class="change-model-mobile">
          <ion-col size-lg="9.5" size-md="9" size-sm="8.3" size-xs="1" class="model-change">
          </ion-col>
          <ion-col size-lg="2.5" size-md="3" size-sm="3.7" size-xs="11" class="model-change">
            <ion-chip outline title="Alterar modelo" color="primary" (click)="changeModel()">
              <ion-icon [name]="'chevron-back-outline'"></ion-icon>
              <ion-label >Alterar modelo</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg="12" size-md="12" size-sm="12" size-xs="12" class="model-change">
            <ion-item lines="none" class="selected-brand">
              <img src="assets/brands/{{selectedModel.brand.url}}.svg" title="{{selectedModel.brand.name}} {{selectedModel.name}}" alt="{{selectedModel.brand.name}} {{selectedModel.name}}"
                onerror="if (this.src != 'assets/brands/no-brand.svg') this.src = 'assets/brands/no-brand.svg'" class="brand-image-title">
              <ion-label class="brand-label-title">{{selectedModel.brand.name}} <span>{{selectedModel.name}}</span></ion-label>
              <ion-icon *ngIf="isFavorite" [name]="nav.favorite.icon" color="secondary" size="large" class="favorite-image" (click)="addOrRemoveFavorite()"></ion-icon>
              <ion-icon *ngIf="!isFavorite" [name]="nav.favorite.icon + '-outline'" color="medium" size="large" class="favorite-image" (click)="addOrRemoveFavorite()"></ion-icon>
              <ion-chip outline title="Alterar modelo" color="primary" (click)="changeModel()" class="change-model-desk">
                <ion-icon [name]="'chevron-back-outline'"></ion-icon>
                <ion-label >Alterar modelo</ion-label>
              </ion-chip>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <img *ngIf="selectedModel.img" src="assets/models/{{selectedModel.brand?.url}}/{{selectedModel.url}}/{{selectedModel.img}}" title="{{selectedModel.brand.name}} {{selectedModel.name}}"
          alt="{{selectedModel.brand.name}} {{selectedModel.name}}" onerror="if (this.src != 'assets/models/no-model.png') this.src = 'assets/models/no-model.png'" class="model-image">
      </ion-item>

      <ion-grid slot="content" class="selected-model-grid">
        <ion-row class="line-info">
          <ion-col size-md="6" size-sm="6" size-xs="5">
            <ion-icon name="thumbs-up-sharp" color="primary" class="up react-animation" [ngClass]="like ? 'anime' : ''"></ion-icon>
            <ion-icon name="thumbs-up-sharp" color="medium" class="category-image"></ion-icon>
            <ion-label color="medium">{{selectedModel.likes_length || 0}}</ion-label>
            <ion-icon name="thumbs-down-sharp" color="danger" class="down react-animation" [ngClass]="dislike ? 'anime' : ''"></ion-icon>
            <ion-icon name="thumbs-down-sharp" color="medium" class="category-image divisor"></ion-icon>
            <ion-label color="medium">{{selectedModel.dislikes_length || 0}}</ion-label>
          </ion-col>
          <ion-col size-md="6" size-sm="6" size-xs="7" class="model-opinions">
            <ion-icon name="reader" color="medium" class="category-image"></ion-icon>
            <ion-label color="medium" *ngIf="modelOpinions.qtd > 0">{{selectedModel.val_length}} opini{{selectedModel.val_length < 2 ? 'ão' : 'ões'}}</ion-label>
            <ion-label color="medium" *ngIf="modelOpinions.qtd === 0">Nenhuma opinião</ion-label>
            <ion-icon *ngIf="selectedModel.category" name="car" color="medium" class="category-image divisor"></ion-icon>
            <ion-label color="medium">{{selectedModel.category?.name}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="line-buttons">
          <ion-col size-md="12" size-sm="12" size-xs="12">
            <ion-chip outline title="Gosto" [color]="like ? 'primary' : 'medium'" (click)="reactButton('like')" [disabled]="like || dislike">
              <ion-icon [name]="'thumbs-up-sharp'"></ion-icon>
              <ion-label>Gosto</ion-label>
            </ion-chip>
            <ion-chip outline title="Odeio" [color]="dislike ? 'danger' : 'medium'" (click)="reactButton('dislike')" [disabled]="like || dislike">
              <ion-icon [name]="'thumbs-down-sharp'"></ion-icon>
              <ion-label>Odeio</ion-label>
            </ion-chip>
            <ion-chip outline title="Compartilhar" color="medium" [id]="'open-modal-'+selectedModel._id">
              <ion-icon [name]="'share-social'"></ion-icon>
              <ion-label>Compartilhar</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid slot="content" class="selected-model-grid" *ngIf="modelOpinions.qtd > 0">
        <ion-row class="average-row" style="margin-bottom: 0.5rem" [ngClass]="modelAverage.id">
          <ion-col size-md="6" size-sm="6" size-xs="12" class="main-average">
            <ion-icon name="ribbon" color="dark" size="large"></ion-icon>
            <ion-label color="dark" *ngIf="modelOpinions.averages.average">{{selectedModel.average.toFixed(2)}} | {{modelAverage.name}}</ion-label>
            <ion-label color="dark" *ngIf="!modelOpinions.averages.average">{{modelAverage.name}}</ion-label>
          </ion-col>
          <ion-col size-md="6" size-sm="6" size-xs="12">
            <app-valuation-bar [valuationId]="modelAverage.id"></app-valuation-bar>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of valuationItens; let i = index" class="average-row average-small" [ngClass]="item.valuation ? item.valuation.id : ''">
          <ion-col size-md="6" size-sm="7" size-xs="6.5">
            <ion-label color="dark" class="item-title"><h1>{{item.title}}</h1></ion-label>
          </ion-col>
          <ion-col size-md="4" size-sm="5" size-xs="5.5">
            <app-valuation-bar [small]="true" [valuationId]="item.valuation ? item.valuation.id : ''"></app-valuation-bar>
          </ion-col>
          <ion-col size-md="6" size-sm="7" size-xs="12" class="col-subtitle" [ngStyle]="{'border-bottom-width': i === valuationItens.length - 1 ? '0px' : '1px'}">
            <ion-label class="item-subtitle"><p>{{item.subtitle}}</p></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid slot="content">
        <ion-row class="box-send-too">
          <ion-col size-md="8" size-sm="6.6" size-xs="12">
            <ion-item lines="none">
              <ion-label class="ion-text-wrap" *ngIf="modelOpinions.qtd > 0">Você também tem um <strong>{{selectedModel.brand.name}} {{selectedModel.name}}</strong>?</ion-label>
              <ion-label class="ion-text-wrap" *ngIf="modelOpinions.qtd === 0">
                Não há opiniões ainda. <br>
                Seja o primeiro a opinar sobre o <strong>{{selectedModel.brand.name}} {{selectedModel.name}}</strong>!</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size-md="4" size-sm="5.4" size-xs="12">
            <ion-chip outline title="Deixe a sua opinião" color="primary" (click)="goToOpinar()">
              <ion-icon [name]="'paper-plane-outline'"></ion-icon>
              <ion-label>Deixe a sua opinião</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <app-adsense [type]="'banner'"></app-adsense>
      <br>
      <ion-title size="large" color="primary" class="main-title" *ngIf="modelOpinions.qtd > 0">
        <ion-icon [name]="'reader-outline'" color="secondary"></ion-icon>
        <ion-label><strong>Opinião dos donos</strong> ({{modelOpinions.qtd}})</ion-label>
      </ion-title>

      <ion-item lines="none" class="disclaimer" *ngIf="modelOpinions.qtd > 0">
        <ion-icon size="small" [name]="'warning-outline'" color="dark"></ion-icon>
        <ion-label class="ion-text-wrap">
          {{disclaimer.opiniao}}
        </ion-label>
      </ion-item>

      <app-opinion [opinions]="modelOpinions.opinions"></app-opinion>

      <ion-infinite-scroll *ngIf="modelOpinions?.opinions.length" (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

    <ion-grid slot="content" *ngIf="loadedModelAndOpinions && (!selectedModel || !modelOpinions)" style="margin-top: 1rem">
      <ion-row class="success-container">
        <ion-col size-lg="5" size-md="5" size-sm="12" size-xs="12" class="col-model">
          <ion-item lines="none" class="model-image-container">
            <img src="assets/models/model-404.png" title="Modelo não encontrado" alt="Modelo não encontrado" class="model-image">
          </ion-item>
        </ion-col>

        <ion-col size-lg="7" size-md="7" size-sm="12" size-xs="12" class="col-congrats">
          <ion-row>
            <ion-col size-lg="2.5" size-md="3" size-sm="3" size-xs="12" class="sent-item-icon">
              <ion-icon name="warning-outline" color="secondary" size="large"></ion-icon>
            </ion-col>
            <ion-col size-lg="9.5" size-md="9" size-sm="9" size-xs="12" class="sent-item-text">
              <ion-label class="ion-text-wrap">
                <h1 class="form-title">
                  <span class="warning">Oops...</span>
                  <br>Parece que o modelo de carro que você procura não existe ou foi removido!
                </h1>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="suggestions">
            <ion-col size-lg="9.5" size-lg="2.5" size-md="3" size-sm="12" size-xs="12"></ion-col>

            <ion-col size-md="6" size-sm="12" size-xs="12">
              <ion-chip title="Outras opiniões" mode="ios" color="primary" (click)="goSearch()">
                <ion-icon [name]="nav.search.icon + '-outline'"></ion-icon>
                <ion-label>Outras opiniões</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal *ngIf="selectedModel && modelOpinions" [trigger]="'open-modal-'+selectedModel._id" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5]">
    <ng-template>
      <div class="modal-content" >
        <ion-row>
          <ion-col size-md="12" size-sm="12" size-xs="12">
            <p>Compartilhe as opiniões do <span>{{selectedModel.brand.name}} {{selectedModel.name}}</span> com seus amigos e nas redes sociais</p>
          </ion-col>
          <ion-col size-md="12" size-sm="12" size-xs="12">
            <ion-chip outline title="Whatsapp" color="success" (click)="shareSocialMedia('whatsapp')">
              <ion-icon [name]="'logo-whatsapp'"></ion-icon>
            </ion-chip>
            <ion-chip outline title="Telegram" color="tertiary" (click)="shareSocialMedia('telegram')">
              <ion-icon [name]="'paper-plane'" color="tertiary"></ion-icon>
            </ion-chip>
            <ion-chip outline title="Facebook" color="primary" (click)="shareSocialMedia('facebook')">
              <ion-icon [name]="'logo-facebook'"></ion-icon>
            </ion-chip>
            <!-- <ion-chip outline title="Instagram" color="danger" (click)="shareSocialMedia('instagram')">
              <ion-icon [name]="'logo-instagram'"></ion-icon>
            </ion-chip> -->
            <ion-chip outline title="Twitter" color="tertiary" (click)="shareSocialMedia('twitter')">
              <ion-icon [name]="'logo-twitter'" color="tertiary"></ion-icon>
            </ion-chip>
            <ion-chip outline title="Pinterest" color="danger" (click)="shareSocialMedia('pinterest')">
              <ion-icon [name]="'logo-pinterest'"></ion-icon>
            </ion-chip>
            <ion-chip outline title="LinkedIn" color="primary" (click)="shareSocialMedia('linkedin')">
              <ion-icon [name]="'logo-linkedin'"></ion-icon>
            </ion-chip>
            <ion-chip outline title="Email" color="secondary" (click)="shareSocialMedia('email')">
              <ion-icon [name]="'mail'"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
