.brand-image-title {
  max-width: 100%;
  margin: 0 1.5rem 0 0rem;
}

.brand-label-title {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: xx-large;

  span {
    font-weight: bold;
  }

  @media (max-width: 700px) {
    font-size: x-large;
  }
}

.disclaimer {
  margin-top: 1.5rem;

  ion-label {
    padding: 0 0rem 0 0.5rem;
    margin: 0;
    font-size: 11px;
    line-height: 12px;
  }
}

.main-title {
  padding: 0 .3rem 1rem .3rem;
}

.model-image {
  margin: auto;
  background: URL('assets/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem;
}

.category-image {
  margin-top: -0.2rem;
  vertical-align: middle;
  transform: scale(0.7);
}

.favorite-image {
  vertical-align: top;
  transform: scale(0.7);
  margin: 0.4rem 0.5rem 0 0.5rem;
  padding: 0.3rem 0 .5rem 1.1rem;
  border-left: 1px solid var(--ion-color-medium);
  cursor: pointer;

  @media (max-width: 700px) {
    margin-top: 0;
    margin-right: -0.6rem;
  }
}

.selected-model-grid {
  .model-logo {
    text-align: right;
  }

  .model-name {
    display: flex;
    align-items: center;
  }

  .model-change {
    display: flex;
    align-items: center;

    ion-chip {
      margin-left: auto;
    }
  }

  @media (max-width: 575px) {
    .model-name, .model-change {
      justify-content: center;
    }

    .model-change ion-chip {
      margin-left: 0;
    }
  }

  .model-opinions {
    text-align: right;
  }

  @media (max-width: 575px) {
    .model-name {
      text-align: center;
      padding: 0;
    }

    .model-logo {
      text-align: center;

      .brand-image-title {
        margin: 0 0 -1rem 0;
        max-width: 60px;
      }
    }

    .model-change {
      text-align: center;
      padding: 0.5rem 0 1rem 0;
    }
  }

  .average-row {
    padding: .2rem;
    border: 1px solid #000;
    border-radius:  0.5rem;

    .main-average {
      text-align: left;
    }

    ion-label {
      font-weight: bold;
      font-size: x-large;
    }

    ion-icon {
      transform: scale(1);
      margin-right: 0.8rem;
      margin-bottom: -0.3rem;
      vertical-align: sub;
    }

    &.otimo {
      border-color: var(--ion-color-primary);
    }

    &.bom {
      border-color: var(--ion-color-success);
    }

    &.regular {
      border-color: var(--ion-color-secondary);
    }

    &.ruim {
      border-color: var(--ion-color-danger);
    }

    &.pessimo {
      border-color: var(--ion-color-danger-secondary);
    }

    &.indisponivel {
      border-color: var(--ion-color-medium);
    }

    @media (max-width: 576px) {
      .main-average {
        text-align: center !important;
      }

      ion-col:nth-child(1) {
        text-align: right;
      }
    }
  }

  .average-small {
    border: 0px;
    padding: 0 .8rem;

    ion-col {
      padding-bottom: 0px;
      display: grid;
      align-items: center;
    }

    .item-title {
      text-align: right;

      h1 {
        font-weight: bolder;
        padding-right: 1rem;
      }
    }

    ion-icon {
      margin-bottom: -0.1rem;
    }

    .item-subtitle {
      text-align: right;

      p {
        margin-top: 0;
        color: var(--ion-color-medium);
        font-size: large;
        font-weight: lighter;
        padding-right: 1rem;
        margin-top: -0.4rem;
      }
    }

    .col-subtitle {
      padding-top: 0;

      @media (max-width: 576px) {
        border-bottom-style: dashed;
        border-bottom-color: rgba(var(--ion-color-medium-rgb), 0.3);
      }
    }

    @media (max-width: 576px) {
      .item-title {
        text-align: left;

        h1 {
          padding-right: 0;
          font-size: 20px;
        }
      }

      .item-subtitle {
        text-align: left;

        p {
          padding-right: 2rem;
          font-size: 16px;

          @media (max-width: 400px) {
            padding-right: 0;
          }

        }
      }

      ion-col:nth-child(1) {
        text-align: center;
        padding-bottom: 0rem;
      }
    }

  }
}

.box-send-too {
  background-color: rgba(var(--ion-color-medium-rgb), 0.3);
  border-radius: 0.4rem;
  padding: .5rem;
  margin: 1.5rem 0;

  ion-item {
    width: 100%;
  }

  ion-item::part(native) {
    background: transparent;
  }

  ion-col {
    align-items: center;
    display: flex;

    @media (max-width: 576px) {
      ion-label {
        text-align: center;
      }
    }
  }

  ion-chip {
    margin-left: auto;
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(var(--ion-color-base-rgb), 1);
    transition: background-color 0.4s;
    transform: scale(1.2);

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    @media (max-width: 576px) {
      margin-left: 2rem;
      argin-right: 2rem;
      width: 100%;
      text-align: center;
      display: block;
    }
  }
}
