<ion-content #IonContent [fullscreen]="true" [scrollEvents]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <!-- <ion-title size="large" color="primary" class="main-title">
      <ion-icon [name]="'reader-outline'" color="secondary"></ion-icon>
      <ion-label>Opinião</ion-label>
    </ion-title> -->

    <div class="main-body" *ngIf="selectedModel && modelOpinions">
      <ion-grid slot="content" class="selected-model-grid">
        <ion-row>
          <ion-col size-lg="1.2" size-md="1.7" size-sm="1.5" size-xs="12" class="model-logo">
            <img src="assets/brands/{{selectedModel.brand.url}}.svg" title="{{selectedModel.brand.name}} {{selectedModel.name}}" alt="{{selectedModel.brand.name}} {{selectedModel.name}}"
              onerror="if (this.src != 'assets/brands/no-brand.svg') this.src = 'assets/brands/no-brand.svg'" class="brand-image-title">
          </ion-col>
          <ion-col size-lg="8.1" size-md="7.3" size-sm="6.8" size-xs="12" class="model-name">
            <ion-label class="brand-label-title">{{selectedModel.brand.name}} <span>{{selectedModel.name}}</span></ion-label>
            <ion-icon *ngIf="isFavorite" name="heart" color="secondary" size="large" class="favorite-image" (click)="addOrRemoveFavorite()"></ion-icon>
            <ion-icon *ngIf="!isFavorite" name="heart-outline" color="medium" size="large" class="favorite-image" (click)="addOrRemoveFavorite()"></ion-icon>
          </ion-col>
          <ion-col size-lg="2.5" size-md="3" size-sm="3.7" size-xs="12" class="model-change">
            <ion-chip outline title="Alterar modelo" color="primary" (click)="changeModel()">
              <ion-icon [name]="'chevron-back-outline'"></ion-icon>
              <ion-label >Alterar modelo</ion-label>
            </ion-chip>
          </ion-col>
          <!-- COMPARAR -->
          <!-- <ion-col size-lg="1.5" size-md="2" size-sm="2.6" size-xs="12" class="model-category">
            <ion-icon name="git-compare-outline" color="dark" size="large" class="category-image"></ion-icon>
            <ion-label color="dark"> | </ion-label>
            <ion-icon name="heart-outline" color="dark" size="large" class="category-image"></ion-icon>
          </ion-col> -->
        </ion-row>
      </ion-grid>

      <ion-item lines="none">
        <img *ngIf="selectedModel.img" src="assets/models/{{selectedModel.brand?.url}}/{{selectedModel.url}}/{{selectedModel.img}}" title="{{selectedModel.brand.name}} {{selectedModel.name}}"
          alt="{{selectedModel.brand.name}} {{selectedModel.name}}" onerror="if (this.src != 'assets/models/no-model.png') this.src = 'assets/models/no-model.png'" class="model-image">
      </ion-item>

      <ion-grid slot="content" class="selected-model-grid">
        <ion-row>
          <ion-col size-md="6" size-sm="6" size-xs="5">
            <ion-icon *ngIf="selectedModel.category" name="car" color="medium" size="large" class="category-image"></ion-icon>
            <ion-label color="medium">{{selectedModel.category?.name}}</ion-label>
          </ion-col>
          <ion-col size-md="6" size-sm="6" size-xs="7" class="model-opinions">
            <ion-icon name="clipboard" color="medium" size="large" class="category-image"></ion-icon>
            <ion-label color="medium" *ngIf="modelOpinions.qtd > 0">{{selectedModel.val_length}} opini{{selectedModel.val_length < 2 ? 'ão' : 'ões'}}</ion-label>
            <ion-label color="medium" *ngIf="modelOpinions.qtd === 0">Nenhuma opinião</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid slot="content" class="selected-model-grid" *ngIf="modelOpinions.qtd > 0">
        <ion-row class="average-row" style="margin-bottom: 0.5rem" [ngClass]="modelAverage.id">
          <ion-col size-md="6" size-sm="6" size-xs="12" class="main-average">
            <ion-icon name="ribbon" color="dark" size="large"></ion-icon>
            <ion-label color="dark" *ngIf="modelOpinions.averages.average">{{selectedModel.average.toFixed(2)}} | {{modelAverage.name}}</ion-label>
            <ion-label color="dark" *ngIf="!modelOpinions.averages.average">{{modelAverage.name}}</ion-label>
          </ion-col>
          <ion-col size-md="6" size-sm="6" size-xs="12">
            <app-valuation-bar [valuationId]="modelAverage.id"></app-valuation-bar>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of valuationItens; let i = index" class="average-row average-small" [ngClass]="item.valuation ? item.valuation.id : ''">
          <ion-col size-md="6" size-sm="7" size-xs="6.5">
            <ion-label color="dark" class="item-title"><h1>{{item.title}}</h1></ion-label>
          </ion-col>
          <ion-col size-md="4" size-sm="5" size-xs="5.5">
            <app-valuation-bar [small]="true" [valuationId]="item.valuation ? item.valuation.id : ''"></app-valuation-bar>
          </ion-col>
          <ion-col size-md="6" size-sm="7" size-xs="12" class="col-subtitle" [ngStyle]="{'border-bottom-width': i === valuationItens.length - 1 ? '0px' : '1px'}">
            <ion-label class="item-subtitle"><p>{{item.subtitle}}</p></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid slot="content">
        <ion-row class="box-send-too">
          <ion-col size-md="8" size-sm="6.6" size-xs="12">
            <ion-item lines="none">
              <ion-label class="ion-text-wrap" *ngIf="modelOpinions.qtd > 0">Você também tem um <strong>{{selectedModel.brand.name}} {{selectedModel.name}}</strong>?</ion-label>
              <ion-label class="ion-text-wrap" *ngIf="modelOpinions.qtd === 0">
                Não há opiniões ainda. <br>
                Seja o primeiro a opinar sobre o <strong>{{selectedModel.brand.name}} {{selectedModel.name}}</strong>!</ion-label>
            </ion-item>
          </ion-col>

          <ion-col size-md="4" size-sm="5.4" size-xs="12">
            <ion-chip outline title="Envie a sua opinião" color="primary" (click)="goToOpinar()">
              <ion-icon [name]="'paper-plane-outline'"></ion-icon>
              <ion-label>Envie a sua opinião</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-title size="large" color="primary" class="main-title" *ngIf="modelOpinions.qtd > 0">
        <ion-icon [name]="'reader-outline'" color="secondary"></ion-icon>
        <ion-label><strong>Opinião dos donos</strong> ({{modelOpinions.qtd}})</ion-label>
      </ion-title>

      <app-opinion [opinions]="modelOpinions.opinions"></app-opinion>

      <ion-infinite-scroll *ngIf="modelOpinions?.opinions.length" (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>
