.brand-image {
  max-width: 60px;
  margin: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.model-image {
  max-width: 100px;
  margin: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.brand-image-title {
  max-width: 100px;
  margin: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.brand-label-title {
  font-size: xx-large;
}
