.brand-image {
  width: 60px;
  height: 60px;
  margin: 0.5rem 1.5rem 0.5rem 0.5rem;
}

.form-title {
  font-weight: lighter;
  margin: 1.5rem 0;
}

.item-button:hover {
  --background-hover: linear-gradient(to right, #fff 150px, currentColor 350px, currentColor);
}

.warning {
  max-width: 60px;
  margin: 0.5rem 1rem 0.5rem 0;
}

.label-name {
  font-size: larger;
}

.model-image {
  width: 100px;
  height: 55px;
  margin: 0.5rem 1.5rem 0.5rem 0;
  background: URL('assets/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6rem;
}

.brand-image-title {
  max-width: 100px;
  margin: 0.5rem 1.5rem 0.5rem 0;
}

.brand-label-title {
  font-size: xx-large;
  text-transform: capitalize;
}

.item-button {
  text-transform: capitalize;
  --padding-start: 0;
  --inner-padding-end: 0;

  ion-chip {
    margin-right: 1rem;

    @media (max-width: 800px) {
      margin-right: 0;
    }
  }

  @media (min-width: 800px) {
    width: calc(50% - 2rem);
    display: inline-flex;
    margin-right: 4rem;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

ion-searchbar {
  padding: 1rem 0;
}

ion-item.item-button::part(native) {
  padding-left: 0 !important;
}

.selected-brand {
  --padding-start: 0;
  --inner-padding-end: 0;
}

@media (max-width: 576px) {
  .brand-image-title {
    max-width: 50px;
    margin-right: 1rem;
  }

  .brand-label-title {
    font-size: x-large;
  }

  .form-title {
    font-size: larger;
  }
}

@media (max-width: 410px) {
  .model-image {
    width: 80px;
    height: 44px;
    margin-right: 1rem;
  }

  .selected-brand {
    margin: .5rem 0;
  }

  .brand-image-title {
    max-width: 30px;
    margin-right: .5rem;
  }

  .brand-label-title {
    font-size: large;
  }
}
