.favorite-subtitle {
  font-weight: lighter;
  margin: 2rem 1rem;
  font-size: larger;

  ion-icon {
    margin: 0 0.3rem -0.2rem 0.3rem;
  }
}

.favorite-container {
  display: inline-flex;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;

  .car {
    padding: 1rem;
    width: 33.33%;
    border-top: 1px dashed var(--ion-tab-bar-background-focused, #e0e0e0);

    .car-image {
      text-align: center;

      img {
        max-height: 8.85rem;
      }
    }

    .car-name {
      display: inline-flex;
      align-items: center;
      width: 100%;

      img {
        max-width: 2rem;
        margin-right: 0.3rem;
      }

      strong {
        padding-left: .2rem;
      }
    }

    .buttons {
      margin: 0.5rem 0.3rem;

      ion-chip {
        width: 100%;
        margin: 0;

        ion-icon {
          margin-left: auto;
        }

        ion-label {
          margin-right: auto;
        }
      }
    }

    .favorite-image {
      vertical-align: top;
      transform: scale(0.7);
      margin: 0 0.3rem 0 auto;
      cursor: pointer;
    }

    .other-models {
      background-color: var(--ion-color-light);
      height: 13.7rem;
      margin: .5rem .8rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      cursor: pointer;
      border-radius: 1rem;

      &:hover {
        background-color: rgba(215, 216, 218, 0.4);
      }

      ion-icon {
        width: 100%;
        height: 3rem;
        margin-top: auto;
      }

      ion-label {
        margin: 0 auto auto auto;
        color: var(--ion-color-medium);
        font-size: larger;
      }
    }

    @media (max-width: 950px) {
      width: 50%;
    }

    @media (max-width: 550px) {
      width: 100%;
    }
  }

  @media (min-width: 951px) {
    .car:nth-child(1), .car:nth-child(2), .car:nth-child(3) {
      border-top: 0px
    }
  }

  @media (min-width: 551px) and (max-width: 950px) {
    .car:nth-child(1), .car:nth-child(2) {
      border-top: 0px
    }
  }

  @media (max-width: 550px) {
    .car:nth-child(1) {
      border-top: 0px
    }
  }
}
