<ion-content [fullscreen]="true">
  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [name]="nav.favorite.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{nav.favorite.title}}</ion-label>
    </ion-title>

    <h2 class="favorite-subtitle" *ngIf="!favoriteModels?.length">Para adicionar um favorito basta clicar no <ion-icon [name]="'heart-outline'" color="medium"></ion-icon> quando encontrar um!</h2>

    <div class="favorite-container">
      <div class="car" *ngFor="let car of favoriteModels">
        <div class="car-name">
          <img src="assets/brands/{{car.brand?.url}}.svg" title="{{car.brand?.name}}" alt="{{car.brand?.name}}"
            onerror="if (this.src != 'assets/brands/no-brand.svg') this.src = 'assets/brands/no-brand.svg'">
            {{car.brand?.name}} <strong>{{car.name}}</strong>
            <ion-icon name="close" color="medium" size="large" class="favorite-image" (click)="showConfirmAlert(car)"></ion-icon>
        </div>
        <div class="car-image">
          <img src="assets/models/{{car.brand?.url}}/{{car.url}}/{{car.img}}"
            title="{{car.brand?.name + ' ' + car.name}}" alt="{{car.brand?.name + ' ' + car.name}}"
            onerror="if (this.src != 'assets/models/no-model.png') this.src = 'assets/models/no-model.png'">
        </div>
        <ion-row class="buttons">
          <ion-col size-md="6" size-sm="6" size-xs="12">
            <ion-chip title="Opinar" color="primary" (click)="clickCarItem('opinar', car.brand?.url, car.url)">
              <ion-icon [name]="'paper-plane'"></ion-icon>
              <ion-label>Opinar</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col size-md="6" size-sm="6" size-xs="12">
            <ion-chip outline title="Ver opiniões" color="primary" (click)="clickCarItem('opiniao', car.brand?.url, car.url)">
              <ion-icon [name]="'reader-outline'"></ion-icon>
              <ion-label >Opiniões</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </div>
      <div class="car">
        <div class="other-models" (click)="clickOtherCars()">
          <ion-icon [name]="'car-sport-outline'" color="medium"></ion-icon>
          <ion-label>Buscar novos carros</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>
