<app-loader [showLoader]="showLoader"></app-loader>
<ion-grid slot="content" class="not-found-container">
  <ion-row class="first-text">
    <ion-col size-md="12" size-sm="12" size-xs="12">
      <strong>Não encontrou a Marca e Modelo que procura?</strong><br>
      Não se preocupe. Basta digita-los abaixo e prosseguir!
    </ion-col>
  </ion-row>

  <form [formGroup]="formModelNotFound" (submit)="sendFormModelNotFound()">

    <ion-row>
      <ion-col size-md="5" size-sm="6" size-xs="12">
        <ion-item class="input-item">
          <ion-label position="floating">Marca</ion-label>
          <ion-input type="text" maxlength="50" formControlName="opinarBrand" (ionInput)="utils.capitalize($event)" placeholder="Ex: Ford"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="formModelNotFound.controls.opinarBrand.touched">
          <span *ngIf="formModelNotFound.controls.opinarBrand.errors?.required">Necessário preencher a marca do carro!</span>
          <span *ngIf="formModelNotFound.controls.opinarBrand.errors?.minlength">Campo preenchido incorretamente! Ex: Ford</span>
        </ion-note>
      </ion-col>

      <ion-col size-md="5" size-sm="6" size-xs="12">
        <ion-item class="input-item">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input type="text" maxlength="50" formControlName="opinarModel" (ionInput)="utils.capitalize($event)" placeholder="Ex: Gol"></ion-input>
        </ion-item>
        <ion-note color="danger" *ngIf="formModelNotFound.controls.opinarModel.touched">
          <span *ngIf="formModelNotFound.controls.opinarModel.errors?.required">Necessário preencher o modelo do carro!</span>
          <span *ngIf="formModelNotFound.controls.opinarModel.errors?.pattern">Campo preenchido incorretamente! Ex: Gol</span>
        </ion-note>
      </ion-col>

      <ion-col size-md="2" size-sm="12" size-xs="12">
        <ion-button size="default" title="Enviar" expand="block" color="success" mode="ios" type="submit" class="bt-enviar" [disabled]="formModelNotFound.status === 'INVALID'">
          <ion-icon size="small" name="paper-plane-outline" slot="start"></ion-icon>
          <ion-label slot="start">Enviar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
