

.not-found-container {
  background-color: rgba(var(--ion-color-medium-rgb), 0.3);
  border-radius: 0.4rem;
  padding: 1rem;
  margin: 1rem 0;

  .first-text {
    font-size: large;
    padding-bottom: 1rem;;

    strong {
      font-size: larger;
    }
  }

  ion-button {
    ion-icon {
      margin: 0 .5rem 0 0;
    }
  }

  ion-item.input-item::part(native) {
    background: var(--ion-color-light);
    background: var(--ion-color-light);
    border-radius: 0.3rem 0.3rem 0 0;
  }

  .bt-enviar {
    min-height: 54px;
    margin: 0;
  }
}
