<ion-content #IonContent [fullscreen]="true" [scrollEvents]="true">
  <ion-spinner name="crescent" color="primary" class="content-spinner" [ngClass]="{'show-spinner': showLoader }"></ion-spinner>

  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title">
      <ion-icon [routerLink]="'/' + nav.admin.route" [name]="'arrow-back'" color="secondary" style="cursor: pointer"></ion-icon>
      <ion-label [routerLink]="'/' + nav.admin.route" style="cursor: pointer">{{nav.admin.title}}</ion-label>

      <ion-label>
        <ion-icon [name]="'chevron-forward'" size="small" color="medium"></ion-icon>
      </ion-label>

      <ion-icon [name]="nav.customer.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{nav.customer.title}}</ion-label>
    </ion-title>

    <div class="main-body">
      <ion-grid slot="content">
        <ion-row [ngClass]="{'grid-content-edit': formCustomers.value.editUserId }">
          <ion-col>
            <h1 *ngIf="!formCustomers.value.editUserId">Criar novo usuário:</h1>
            <h1 *ngIf="formCustomers.value.editUserId">Editar o usuário <strong>{{formCustomers.value.editUserId}}</strong>:</h1>
          </ion-col>
        </ion-row>
        <form name="users" [formGroup]="formCustomers" (submit)="showConfirmAlert(formCustomers.value.editUserId ? 'editar' : 'criar', formCustomers.value)">
          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formCustomers.value.editUserId }">
            <ion-input type="hidden" formControlName="editUserId"></ion-input>
            <ion-col size-md="5" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input type="text" formControlName="newUserName"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size-md="4" size-sm="12" size-xs="12">
              <ion-item>
                <ion-label position="floating">Nível de permissão</ion-label>
                <ion-select interface="popover" formControlName="newUserLevel">
                  <ion-select-option *ngFor="let role of roles" [value]="role._id">{{ role.level }} - {{ role.name }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size-md="3" size-sm="12" size-xs="12">
              <ion-item lines="none" color="none">
                <ion-label>Ativo</ion-label>
                <ion-toggle color="primary" [(ngModel)]="activeChecked"  [ngModelOptions]="{standalone: true}"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="grid-content" [ngClass]="{'grid-content-edit': formCustomers.value.editUserId }">
            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="!formCustomers.value.editUserId">
              <ion-button size="default" title="Criar" expand="block" color="success" type="submit" [disabled]="formCustomers.status === 'INVALID'">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Criar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="formCustomers.value.editUserId">
              <ion-button size="default" title="Salvar" expand="block" color="success" type="submit" [disabled]="formCustomers.status === 'INVALID'">
                <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Salvar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="!formCustomers.value.editUserId && !formCustomers.pristine">
              <ion-button size="default" expand="block" title="Limpar" color="medium" type="button" (click)="showConfirmAlert('limpar', formCustomers.value)">
                <ion-icon name="backspace-outline" slot="start"></ion-icon>
                <ion-label slot="end">Limpar</ion-label>
              </ion-button>
            </ion-col>

            <ion-col size-md="3" size-sm="6" size-xs="12" *ngIf="formCustomers.value.editUserId">
              <ion-button size="default" title="Descartar" expand="block" color="danger" type="button" (click)="showConfirmAlert('descartar', formCustomers.value)">
                <ion-icon name="close-circle-outline" slot="start"></ion-icon>
                <ion-label slot="end">Descartar</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>

        <ion-row><ion-col><br></ion-col></ion-row>

        <ion-row>
          <ion-col><h1>Usuários:</h1></ion-col>
        </ion-row>

        <ion-row *ngIf="!users" class="grid-content">
          <ion-col style="text-align: center; margin: 2rem 0">
            <ion-icon name="alert-circle" color="medium" size="large"></ion-icon>
            <br>
            <ion-label color="medium">Não há nada por aqui ainda!</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="users" class="grid-header">
          <ion-col size-md="3" size-sm="2" size-xs="2"><ion-label>Id</ion-label></ion-col>
          <ion-col size-md="3" size-sm="2" size-xs="2"><ion-label>Nome</ion-label></ion-col>
          <ion-col size-md="2" size-sm="2" size-xs="2"><ion-label>Nível</ion-label></ion-col>
          <ion-col size-md="2" size-sm="2" size-xs="2"><ion-label>Ativo</ion-label></ion-col>
          <ion-col size-md="2" size-sm="4" size-xs="4"><ion-label>Ação</ion-label></ion-col>
        </ion-row>

        <ion-row *ngFor="let user of users" class="grid-content">
          <ion-col size-md="3" size-sm="2" size-xs="2"><ion-label>{{user._id}}</ion-label></ion-col>
          <ion-col size-md="3" size-sm="2" size-xs="2"><ion-label>{{user.name}}</ion-label></ion-col>
          <ion-col size-md="2" size-sm="2" size-xs="2"><ion-label>{{user.role.level}} - {{user.role.name}}</ion-label></ion-col>
          <ion-col size-md="2" size-sm="2" size-xs="2">
            <ion-icon *ngIf="user.active" size="large" color="success" name="checkmark-circle"></ion-icon>
            <ion-icon *ngIf="!user.active" size="large" color="danger" name="close-circle"></ion-icon>
          </ion-col>
          <ion-col size-md="1" size-sm="2" size-xs="2">
            <ion-button size="small" title="Editar" expand="block" color="warning" (click)="editCustomer(user)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size-md="1" size-sm="2" size-xs="2">
            <ion-button size="small" title="Excluir" expand="block" color="danger" (click)="showConfirmAlert('excluir', user)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

</ion-content>
