.selected-model-grid {
  &.opinion {
    font-family: calibri, arial, verdana;
    padding: 0rem;
    border: 1px solid var(--ion-color-light-shade);
    border-radius:  0.5rem;
    margin: 2rem 0.3rem;

    &.otimo {
      border-color: var(--ion-color-primary);
    }

    &.bom {
      border-color: var(--ion-color-success);
    }

    &.regular {
      border-color: var(--ion-color-secondary);
    }

    &.ruim {
      border-color: var(--ion-color-danger);
    }

    &.pessimo {
      border-color: var(--ion-color-danger-secondary);
    }

    .customer-info {
      padding: .25rem;

      .customer-avatar {
        display: grid;

        ion-icon {
          display: flex;
          font-size: 55px;
        }
      }

      .customer-name {
        .item-title {
          display: flex;
          align-items: end;
        }

        .ion-text-wrap {
          display: flex;
          align-items: start;
        }
      }

      .item-title {
        h1 {
          margin-bottom: -5px;
          margin-top: 5px;
          color: var(--ion-color-dark);
          font-weight: bold;
        }
      }
    }

    .car-info, .positive-points, .negative-points, .details-button {
      ion-icon {
        vertical-align: middle;
        margin-right: 0.3rem;
        min-width: 13px;
        min-height: 13px;
      }
    }

    .car-info, .points {
      background-color: rgba(var(--ion-color-medium-rgb), 0.3);
      padding: 1rem;
      margin: 0;
    }

    .points {
      margin-top: .7rem;
      padding: .5rem;

      ion-title {
        padding: 0;
      }
    }

    .positive-points, .negative-points {
      align-items: normal;
      padding-right: 1rem !important;
      font-size: medium;

      ion-icon {
        width: 20px;
        height: 20px;
      }

      span {
        display: flex;
        margin: 0.3rem 0 0 1.8rem;
        line-height: 1.1;
      }
    }

    @media (max-width: 576px) {
      .negative-points {
        border-top: 1px dashed #fff;
        padding-top: 1rem !important;
      }
    }

    .car-info {
      background-color: transparent;
      border-bottom: 1px solid #dedfe1;
      border-radius: 0;
      padding: .5rem .8rem;

      div {
        width: calc(100% - 100px);
        display: inline-grid;

        &:first-child {
          float: left;
          width: 80px;
          margin-right: 1rem;
          border-right: 1px dashed #dedfe1;
        }
      }

      .customer-name {
        flex-wrap: wrap;

        strong {
          font-size: large;
          width: 100%;
        }

        span {
          font-size: smaller;
          padding-top: 0.2rem;
          color: var(--ion-color-medium);
        }
      }

      .customer-name.mobile {
        display: flex;
        margin: 0;

        span {
          padding-top: 0rem;
        }
      }

      .customer-name.desktop {
        display: none;
      }

      ion-label {
        font-size: small;
        display: flex;
        align-items: center;
        line-height: 1.0;
        margin: 3px 0;
      }

      @media (min-width: 576px) {
        float: left;
        display: block;
        width: 40%;
        border-bottom: 0;

        div {
          display: block !important;
          float: none !important;
          width: 100% !important;

          &:first-child {
            float: left;
            width: 80px;
            margin-bottom: 1rem;
            border-bottom: 1px dashed rgba(var(--ion-color-medium-rgb), 0.3);
            padding-bottom: 0.5rem;
            border-right: 0;
          }
        }

        .customer-name.mobile {
          display: none;
        }

        .customer-name.desktop {
          display: flex;
        }

        ion-label {
          margin: 5px 0;
        }
      }

      @media (min-width: 800px) {
        width: 48%;
      }
    }

    .opinion-title {
      text-align: center;
      padding: .2rem;
      border-top: 1px solid #fff;
      // background-color: var(--ion-color-dark);
      background-color: rgba(var(--ion-color-medium-rgb), 0.3) !important;
      border-bottom: 1px solid #fff;

      h1 {
        color: var(--ion-color-dark) !important;
        font-style: italic;
        font-size: x-large;
        margin: 0;
      }

      &.otimo {
        background-color: var(--ion-color-primary);
      }

      &.bom {
        background-color: var(--ion-color-success);
      }

      &.regular {
        background-color: var(--ion-color-secondary);
        h1 {
          color: var(--ion-color-dark);
        }
      }

      &.ruim {
        background-color: var(--ion-color-danger);
      }

      &.pessimo {
        background-color: var(--ion-color-danger-secondary);
      }
    }

    .details-button {
      padding: .5rem;
      margin: 0;
      text-align: center;
      cursor: pointer;

      ion-icon {
        margin-left: 0.5rem;
        margin-right: 0;
      }

      &.hide-button {
        display: none;
      }
    }

    .details {
      overflow-y: hidden;
      height: 0;

      &.expand-details {
        height: initial;
        margin-top: 0.5rem;
        border-left: 1px dashed rgba(var(--ion-color-medium-rgb), 0.3);
      }

      app-valuation-bar ::ng-deep {
        .val-bar.small div {
          margin-top: 0;
          margin-bottom: 0;
          height: 8px;
        }
      }
    }
  }

  .average-row {
    ion-label {
      font-weight: bold;
      font-size: x-large;
    }

    ion-icon {
      transform: scale(1);
      margin-right: 0.8rem;
      margin-bottom: -0.3rem;
      vertical-align: sub;
    }

    @media (max-width: 576px) {
      .main-average {
        text-align: center !important;
      }

      ion-col:nth-child(1) {
        text-align: right;
      }

      ion-label {
        font-size: large;
      }

      ion-icon {
        font-size: 22px !important;
        margin: 0 0.3rem;
      }
    }
  }

  .average-small {
    border: 0px;
    padding: 0 .8rem;
    align-items: center;

    ion-col {
      padding: 0px;
      display: grid;
      align-items: center;
    }

    .item-title {
      text-align: right;

      h1 {
        font-weight: bolder;
        padding-right: 1rem;
        font-size: 20px;
      }
    }

    ion-icon {
      margin-bottom: -0.1rem;
    }

    .item-subtitle {
      text-align: right;

      p {
        margin-top: 0;
        color: var(--ion-color-medium);
        font-size: large;
        font-weight: lighter;
        padding-right: 1rem;
        margin-top: -0.4rem;
      }
    }

    .col-subtitle {
      padding-top: 0;

      @media (max-width: 576px) {
        border-bottom-style: dashed;
        border-bottom-color: rgba(var(--ion-color-medium-rgb), 0.3);
      }
    }

    @media (max-width: 576px) {
      .item-title {
        margin-right: 1rem;

        h1 {
          padding-right: 0;
          font-size: 18px;
        }
      }

      .item-subtitle {
        text-align: left;

        p {
          padding-right: 2rem;
          font-size: 16px;

          @media (max-width: 400px) {
            padding-right: 0;
          }

        }
      }

      ion-col:nth-child(1) {
        text-align: left;
        padding-bottom: 0rem;
        padding-top: 0rem;
      }
    }

  }
}
