<ion-content [fullscreen]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <h1 class="garage-title">Olá <strong>{{utils.sessionUser?.name.split(' ')[0]}}</strong>!</h1>
    <h2 class="garage-subtitle">Aqui é a sua garagem, onde você tem acesso à todos os seus itens.</h2>
    <!-- <ion-title size="large" color="primary" class="main-title">
      <ion-icon [name]="'id-card-outline'" color="secondary"></ion-icon>
      <ion-label>Meus dados</ion-label>
    </ion-title> -->

    <div class="personal-data">
      <ion-row>
        <ion-col size-lg="0.8" size-md="1" size-sm="1.5" size-xs="2.5" class="customer-avatar" *ngIf="utils.sessionUser">
          <ion-icon name="person-circle-outline" color="dark"></ion-icon>
        </ion-col>

        <ion-col size-lg="11.2" size-md="11" size-sm="10.5" size-xs="9.5" class="customer-info" *ngIf="utils.sessionUser">
          <ion-label color="dark" class="item-title"><p><strong>{{utils.sessionUser.name}}</strong></p></ion-label>
          <ion-label class="ion-text-wrap"><p>{{utils.sessionUser.email}}</p></ion-label>
          <ion-label class="ion-text-wrap" *ngIf="utils.sessionUser.created"><p class="member">Membro desde {{utils.sessionUser.created.split(' ')[0]}}</p></ion-label>
        </ion-col>
      </ion-row>

    </div>

    <ion-title size="large" color="primary" class="main-title garage">
      <ion-icon [name]="nav.garage.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>Meus carros</ion-label>
    </ion-title>

    <div class="garage-container">
      <div class="car" *ngFor="let car of myModelOpinions">
        <div class="car-name">
          <img src="assets/brands/{{car.model.brand?.url}}.svg" title="{{car.model.brand?.name}}" alt="{{car.model.brand?.name}}"
          onerror="if (this.src != 'error.jpg') this.src = 'assets/brands/no-brand.svg'">
          {{car.model.brand?.name}} <strong>{{car.model.name}}</strong>
        </div>
        <div class="car-image" (click)="clickCarItem(car.model.brand?.url, car.model.url)">
          <img src="assets/models/{{car.model.brand?.url}}/{{car.model.url}}/{{car.model.url}}.png"
            title="{{car.model.brand?.name + ' ' + car.model.name}}" alt="{{car.model.brand?.name + ' ' + car.model.name}}"
            onerror="if (this.src != 'error.jpg') this.src = 'assets/models/no-model.png'">
        </div>

        <ion-title size="large" color="dark" class="car-opinion">
          <ion-label class="ion-text-wrap">
            <ion-icon name="ribbon" color="dark"></ion-icon>
            <strong>{{car.car_val_average.toFixed(1)}}</strong> <span>{{car.created}}</span>
          </ion-label>
        </ion-title>

        <ion-title size="large" color="dark" class="car-info">
          <ion-label class="ion-text-wrap" *ngIf="car.version">
            <ion-icon [name]="'car'" color="dark"></ion-icon>
            {{car.version.engine.toFixed(1)}} {{car.version.complement}} {{car.version.gearbox}} {{car.version.fuel}} {{car.year_model}}<br>
          </ion-label>

          <ion-label class="ion-text-wrap">
            <ion-icon [name]="'pricetag'" color="dark"></ion-icon>
            <span>Comprou em {{car.year_bought}} - Ficou {{car.kept_period}} {{car.kept_period > 1 ? 'anos' : 'ano'}}<br></span>
          </ion-label>

          <ion-label class="ion-text-wrap">
            <ion-icon [name]="'speedometer'" color="dark"></ion-icon>
            Comprou {{car.km_bought === 0 ? '' : 'com'}} {{car.km_bought === 99 ? 'mais de' : ''}} {{ car.km_bought }}{{car.km_bought === 0 ? ' Km' : '.000 Km'}}
          </ion-label>
        </ion-title>
      </div>
      <div class="car">
        <div class="other-models" (click)="clickOtherCars()">
          <ion-icon [name]="'car-sport-outline'" color="medium"></ion-icon>
          <ion-label>Buscar novos carros</ion-label>
        </div>
      </div>
    </div>
  </div>
</ion-content>
