<ion-content [fullscreen]="true">
  <app-loader [showLoader]="showLoader"></app-loader>

  <div class="main-container">
    <ion-title size="large" color="primary" class="main-title garage" *ngIf="userData">
      <ion-icon [name]="nav.garage.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{userData?.role ? 'Minha ' + nav.garage.title : nav.garage.title + ' do '}}<strong *ngIf="!userData?.role">{{userData?.name}}</strong></ion-label>
    </ion-title>

    <div class="personal-data" *ngIf="userData?.role">
      <ion-row>
        <ion-col size-lg="0.8" size-md="1" size-sm="1.5" size-xs="2.5" class="customer-avatar">
          <ion-icon name="person-circle-outline" color="dark"></ion-icon>
        </ion-col>

        <ion-col size-lg="5.2" size-md="4" size-sm="10.5" size-xs="9.5" class="customer-info">
          <ion-label color="dark" class="item-title"><p><strong>{{userData.name}}</strong></p></ion-label>
          <ion-label class="ion-text-wrap" *ngIf="userData.email"><p>{{userData.email}}</p></ion-label>
          <ion-label class="ion-text-wrap" *ngIf="userData.created"><p class="member">Membro desde {{userData.created.split(' ')[0]}}</p></ion-label>
        </ion-col>

        <ion-col size-lg="6" size-md="7" size-sm="12" size-xs="12" class="column-div" *ngIf="userData.role">
          <ion-grid style="padding: 0">
            <ion-row>
              <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="3">
                <ion-card color="primary" (click)="clickPasswordChange()">
                  <ion-card-header>
                    <ion-icon size="small" [name]="'key'"></ion-icon>
                    <ion-card-title>Senha</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>

              <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="3">
                <ion-card color="primary" [routerLink]="'/' + nav.favorite.route">
                  <ion-card-header>
                    <ion-icon size="small" [name]="nav.favorite.icon"></ion-icon>
                    <ion-card-title>{{nav.favorite.title}}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>

              <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="3" *ngIf="userData.role?.level <= 1">
                <ion-card color="primary" [routerLink]="'/' + nav.admin.route">
                  <ion-card-header>
                    <ion-icon size="small" [name]="nav.admin.icon"></ion-icon>
                    <ion-card-title>{{nav.admin.title}}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>

              <ion-col size-lg="3" size-md="3" size-sm="3" size-xs="3">
                <ion-card color="primary" (click)="showConfirmAlert()">
                  <ion-card-header>
                    <ion-icon size="small" [name]="nav.logout.icon"></ion-icon>
                    <ion-card-title>{{nav.logout.title}}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </div>

    <div class="garage-container">
      <div class="car" *ngFor="let car of myModelOpinions">
        <div class="car-name">
          <img src="assets/brands/{{car.model.brand?.url}}.svg" title="{{car.model.brand?.name}}" alt="{{car.model.brand?.name}}"
          onerror="if (this.src != 'assets/brands/no-brand.svg') this.src = 'assets/brands/no-brand.svg'">
          {{car.model.brand?.name}} <strong>{{car.model.name}}</strong>
        </div>
        <div class="car-image">
          <img src="assets/models/{{car.model.brand?.url}}/{{car.model.url}}/{{car.img}}"
            title="{{car.model.brand?.name + ' ' + car.model.name}}" alt="{{car.model.brand?.name + ' ' + car.model.name}}"
            onerror="if (this.src != 'assets/models/no-model.png') this.src = 'assets/models/no-model.png'">
        </div>

        <ion-title size="large" color="dark" class="car-info">
          <ion-label class="ion-text-wrap" *ngIf="car.version">
            <ion-icon [name]="'car'" color="dark"></ion-icon>
            {{car.version.engine.toFixed(1)}} {{car.version.complement}} {{car.version.gearbox}} {{car.version.fuel}} {{car.year_model}}
          </ion-label>
        </ion-title>

        <ion-row class="buttons">
          <ion-col size-md="12" size-sm="12" size-xs="12">
            <ion-chip title="Opinar" color="primary" (click)="clickMyOpinion(car)">
              <ion-icon [name]="'ribbon'"></ion-icon>
              <ion-label *ngIf="userData?.role"><strong>{{car.car_val_average.toFixed(2)}}</strong> - Minha opinião</ion-label>
              <ion-label *ngIf="!userData?.role"><strong>{{car.car_val_average.toFixed(2)}}</strong> - Opinião do {{userData?.name.split(' ')[0]}}</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col size-md="6" size-sm="6" size-xs="12" *ngIf="!userData?.role">
            <ion-chip outline title="Opinar" color="primary" (click)="clickCarItem('opinar', car.model.brand?.url, car.model.url)">
              <ion-icon [name]="'paper-plane-outline'"></ion-icon>
              <ion-label>Opinar</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col size-md="6" size-sm="6" size-xs="12" *ngIf="!userData?.role">
            <ion-chip outline title="Opiniões" color="primary" (click)="clickCarItem('opiniao', car.model.brand?.url, car.model.url)">
              <ion-icon [name]="'reader-outline'"></ion-icon>
              <ion-label>Opiniões</ion-label>
            </ion-chip>
          </ion-col>

          <ion-col size-md="12" size-sm="12" size-xs="12" *ngIf="userData?.role">
            <ion-chip outline title="Ver opiniões" color="primary" (click)="clickCarItem('opiniao', car.model.brand?.url, car.model.url)">
              <ion-icon [name]="'reader-outline'"></ion-icon>
              <ion-label>Todas as opiniões</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </div>
      <div class="car" *ngIf="userData?.role">
        <div class="other-models">
          <ion-col size-md="12" size-sm="12" size-xs="12">
            <ion-row>
              <ion-col size-md="12" size-sm="12" size-xs="12" class="other-title">
                <ion-icon [name]="'car-sport-outline'" color="medium"></ion-icon>
                <ion-label *ngIf="myModelOpinions.length">Vamos opinar em outro modelo?</ion-label>
                <ion-label *ngIf="!myModelOpinions.length">Deixe a sua primeira opinião!</ion-label>
              </ion-col>

              <ion-col size-md="12" size-sm="12" size-xs="12">
                <ion-item>
                  <ion-label position="floating">Marca</ion-label>
                  <ion-select interface="popover" (ionChange)="chooseBrand($event)" [value]="selectedBrand">
                    <ion-select-option *ngFor="let brand of searchService.getAllBrands()" [value]="brand.url">{{ brand.name }}</ion-select-option>
                    <ion-select-option value="anotherBrand">Outra marca</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size-md="12" size-sm="12" size-xs="12">
                <ion-item>
                  <ion-label position="floating">Modelo</ion-label>
                  <ion-select interface="popover" [disabled]="!selectedBrand" (ionChange)="chooseModel($event)" [value]="selectedModel">
                    <ion-select-option *ngFor="let model of models" [value]="model.url">{{ model.name }}</ion-select-option>
                    <ion-select-option value="anotherModel">Outro modelo</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </div>
      </div>
    </div>

    <ion-title size="large" color="primary" class="main-title garage" *ngIf="loadedOpinions && !userData">
      <ion-icon [name]="nav.garage.icon + '-outline'" color="secondary"></ion-icon>
      <ion-label>{{nav.garage.title}}</ion-label>
    </ion-title>

    <ion-grid slot="content" *ngIf="loadedOpinions && !userData" style="margin-top: 1rem">
      <ion-row class="success-container">
        <ion-col size-lg="5" size-md="5" size-sm="12" size-xs="12" class="col-model">
          <ion-item lines="none" class="model-image-container">
            <img src="assets/models/model-404.png" title="Modelo não encontrado" alt="Modelo não encontrado" class="model-image">
          </ion-item>
        </ion-col>

        <ion-col size-lg="7" size-md="7" size-sm="12" size-xs="12" class="col-congrats">
          <ion-row>
            <ion-col size-lg="2.5" size-md="3" size-sm="3" size-xs="12" class="sent-item-icon">
              <ion-icon name="warning-outline" color="secondary" size="large"></ion-icon>
            </ion-col>
            <ion-col size-lg="9.5" size-md="9" size-sm="9" size-xs="12" class="sent-item-text">
              <ion-label class="ion-text-wrap">
                <h1 class="form-title">
                  <span class="warning">Oops...</span>
                  <br>Parece que o usuário que você procura não existe ou foi removido!
                </h1>
              </ion-label>
            </ion-col>
          </ion-row>

          <ion-row class="suggestions">
            <ion-col size-lg="9.5" size-lg="2.5" size-md="3" size-sm="12" size-xs="12"></ion-col>

            <ion-col size-md="6" size-sm="12" size-xs="12">
              <ion-chip title="Outras opiniões" mode="ios" color="primary" (click)="goSearch()">
                <ion-icon [name]="nav.search.icon + '-outline'"></ion-icon>
                <ion-label>Outras opiniões</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-modal [isOpen]="!!modalContent && isUserPage()">
    <ng-template>
        <ion-toolbar>
          <div class="car-image-modal">
            <img src="assets/models/{{modalContent?.model?.brand?.url}}/{{modalContent?.model?.url}}/{{modalContent?.img}}"
              title="{{modalContent?.model?.brand?.name + ' ' + modalContent?.model?.name}}" alt="{{modalContent?.model?.brand?.name + ' ' + modalContent?.model?.name}}"
              onerror="if (this.src != 'assets/models/no-model.png') this.src = 'assets/models/no-model.png'">
          </div>
          <div class="car-name modal">
            <img src="assets/brands/{{modalContent?.model?.brand?.url}}.svg" title="{{modalContent?.model?.brand?.name}}" alt="{{modalContent?.model?.brand?.name}}"
            onerror="if (this.src != 'assets/brands/no-brand.svg') this.src = 'assets/brands/no-brand.svg'">
            <span>{{modalContent?.model?.brand?.name}}</span> <strong>{{modalContent?.model?.name}}</strong>
          </div>
          <ion-buttons slot="end" >
            <ion-chip title="Fechar" color="primary" (click)="closeModal()" style="border: 1px solid rgba(27, 117, 187, 0.32); margin: 0.5rem 1rem 0 0;">
              <ion-icon [name]="'close-outline'" style="margin: 0"></ion-icon>
              <!-- <ion-label >Fechar</ion-label> -->
            </ion-chip>
          </ion-buttons>
        </ion-toolbar>
      <ion-content class="ion-padding" *ngIf="modalContent">
        <app-opinion [clickUser]="false" [expanded]="true" [opinions]="[modalContent]"></app-opinion>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="showPasswordChange">
    <ng-template>
        <ion-toolbar>
          <ion-buttons slot="end" >
            <ion-chip title="Fechar" color="primary" (click)="closePasswordChange()" style="border: 1px solid rgba(27, 117, 187, 0.32); margin: 1rem 1rem 0 0;">
              <ion-icon [name]="'close-outline'"></ion-icon>
              <ion-label >Fechar</ion-label>
            </ion-chip>
          </ion-buttons>
        </ion-toolbar>
      <ion-content class="ion-padding" *ngIf="showPasswordChange">
        <ion-row>
          <ion-col>
            <h2 style="margin: 0 0.2rem 1rem 0.2rem">Altere sua atual senha de acesso:</h2>
          </ion-col>
        </ion-row>
        <form name="login" [formGroup]="formPassword" (submit)="submitChangePassword()">
          <ion-row>
            <ion-col size-md="12" size-sm="12" size-xs="12">
              <ion-item class="input-item">
                <ion-label position="floating">Senha atual</ion-label>
                <ion-input [type]="currentPasswordType" maxlength="80" formControlName="currentPassword"></ion-input>
                <ion-button fill="clear" slot="end" color="medium" (click)="showOrHideField('currentPasswordType')">
                  <ion-icon slot="icon-only" name="eye{{currentPasswordType === 'text' ? '-off' : ''}}"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-note color="danger" *ngIf="formPassword.controls.currentPassword.touched">
                <span *ngIf="formPassword.controls.currentPassword.errors?.required">Necessário preencher sua senha atual!</span>
                <span *ngIf="formPassword.controls.currentPassword.errors?.invalid">Senha inválida!</span>
              </ion-note>
            </ion-col>

            <ion-col size-md="12" size-sm="12" size-xs="12">
              <ion-item class="input-item">
                <ion-label position="floating">Nova senha</ion-label>
                <ion-input [type]="newPasswordType" maxlength="80" formControlName="newPassword"></ion-input>
                <ion-button fill="clear" slot="end" color="medium" (click)="showOrHideField('newPasswordType')">
                  <ion-icon slot="icon-only" name="eye{{newPasswordType === 'text' ? '-off' : ''}}"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-note color="danger" *ngIf="formPassword.controls.newPassword.touched">
                <span *ngIf="formPassword.controls.newPassword.errors?.required">Necessário preencher sua nova senha!</span>
              </ion-note>
            </ion-col>

            <ion-col size-md="12" size-sm="12" size-xs="12">
              <ion-item class="input-item">
                <ion-label position="floating">Repita a nova senha</ion-label>
                <ion-input [type]="repeatNewPasswordType" minlength="{{formPassword.controls.newPassword.value?.length}}" maxlength="80" formControlName="repeatNewPassword"></ion-input>
                <ion-button fill="clear" slot="end" color="medium" (click)="showOrHideField('repeatNewPasswordType')">
                  <ion-icon slot="icon-only" name="eye{{repeatNewPasswordType === 'text' ? '-off' : ''}}"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-note color="danger" *ngIf="formPassword.controls.repeatNewPassword.touched">
                <span *ngIf="formPassword.controls.repeatNewPassword.errors?.required">Necessário repetir sua nova senha!</span>
              </ion-note>
              <ion-note color="danger" *ngIf="formPassword.controls.repeatNewPassword.value">
                <span *ngIf="formPassword.controls.repeatNewPassword.value !== formPassword.controls.newPassword.value">Digite exatamente o que você digitou no campo Nova Senha!</span>
              </ion-note>
            </ion-col>

            <ion-col size-md="12" size-sm="12" size-xs="12">
              <ion-button size="default" title="Entrar" expand="block" color="success" type="submit" mode="ios"
                [disabled]="formPassword.controls.repeatNewPassword.value !== formPassword.controls.newPassword.value || formPassword.status === 'INVALID'">
                <ion-icon name="key-outline" slot="start"></ion-icon>
                <ion-label slot="end">Alterar senha</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
